{% extends "_layouts/site.jinja" %}

{% block page_header %}
  {% if post %}
    {{ text::header(heading=post.title, published_date=post.published_date, updated_date=post.updated_date) }}
  {% elif posts %}
    {{ text::header(heading="Stuff and Things Blog") }}
  {% endif %}
{% endblock page_header %}

{% block page_content %}
{% endblock page_content %}

{% block page_references %}
  {% if post and post.references | length > 0 %}
    {{ table::references(references=post.references) }}
  {% endif %}
{% endblock page_references %}

{% block page_bibliography %}
  {% if post and post.bibliography | length > 0 %}
    {{ table::bibliography(bibliography=post.bibliography) }}
  {% endif %}
{% endblock page_bibliography %}

{% block page_links %}
  {% if post and post.links | length > 0 %}
    {{ text::links_block(links=post.links) }}
  {% endif %}
{% endblock page_links %}

{% block page_tags %}
  {% if post and post.tags | length > 0 %}
    {{ text::tag_block(tags=post.tags, center=true) }}
  {% endif %}
{% endblock page_tags %}

{% block blank_page %}
  {{ spacer::blank_page(end=35) }}
{% endblock blank_page %}

{% block page_toc %}
  {% if post and post.table_of_contents | length > 0 %}
    {{ table::toc(header="On this page", rows=post.table_of_contents) }}
  {% elif not post and posts %}
    {{ table::toc(header="Categories", rows=posts.categories, slug=true) }}
  {% endif %}
{% endblock page_toc %}