{% macro boxed_image(path, width="", height="") %}
<div class="py-6 flex justify-center">
  <img class="bg-white rounded-xl shadow-2xl shadow-zinc-600 dark:opacity-80 dark:shadow-none" 
    {% if width %}width="{{ width }}"{% endif %} {% if height %}height="{{ height }}"{% endif %}
    src="/img/{{ path }}" alt="{{ path }}">
</div>
{% endmacro %}
{% set alias = boxed_image %}