{% macro breadcrumbs(items=[]) %}
<div class="pb-2 font-mono font-bold text-xl">
  <nav class="rounded px-3 py-2 w-fit bg-zinc-200 dark:bg-zinc-800">
    <ol class="flex flex-wrap">
      {% for item in items %}
        <li class="text-sky-600 dark:text-sky-800">{{ item }}</li>
        {% if not loop.last %}
          <li><span class="mx-2 font-extrabold text-zinc-800 dark:text-inherit">&gt;</span></li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
</div>
{% endmacro %}
{% set alias = breadcrumbs %}
