{% macro code_block(header, language, code) %}
<div class="pt-2 pb-4">
  <div class="rounded-lg border-4 border-zinc-800 shadow-md shadow-zinc-400 dark:shadow-none">
    <div class="py-1 text-center font-bold font-mono border-b-4 border-zinc-800">
      <span class="">{{ header }}</span>
    </div>
    <div class="font-mono">
      <pre><code class="language-{{ language }} hljs px-5 dark:opacity-80 rounded-b">{{ code | safe }}</code></pre>
    </div>
  </div>
</div>
{% endmacro %}
{% set alias = code_block %}