{% macro code_block(header, language, code) %}
<div class="py-2">
  <div class="rounded-t-md border-4 border-zinc-800 py-1 text-center font-bold font-mono shadow-xl">
    <span class="">{{ header }}</span>
  </div>
  <div class="rounded-b-md border-4 border-t-0 border-zinc-800 font-mono shadow-xl">
    <pre><code class="language-{{ language }} hljs px-5 dark:opacity-80">{{ code | safe }}</code></pre>
  </div>
</div>
{% endmacro %}
{% set alias = code_block %}