{% macro emphasize(text) %}<span class="px-1 break-all"><i class="px-2 py-1 font-mono font-semibold rounded bg-zinc-900 text-neutral-100 dark:text-neutral-400">{{ text }}</i></span>{% endmacro %}{% set alias = emphasize %}
