{% macro emphasize(text) %}<span class="px-1"><span class="whitespace-nowrap px-3 py-1 font-mono font-semibold bg-white text-gray-700 rounded outline outline-1 outline-stone-300 shadow-md shadow-zinc-400 dark:bg-stone-800 dark:text-neutral-400 dark:outline-0 dark:shadow-inner dark:shadow-black">{{ text }}</span></span>{% endmacro %}{% set alias = emphasize %}
