{% macro emphasize(text) %}<span class="px-1"><span class="px-3 py-1 font-mono font-semibold bg-stone-200 text-gray-700 rounded outline outline-1 outline-stone-300 dark:bg-stone-800 dark:text-neutral-400 dark:outline-stone-700">{{ text }}</span></span>{% endmacro %}{% set alias = emphasize %}
