{% macro link_to(path, description="") %}<a class="text-sky-600 no-underline hover:text-sky-800" href="{{ path }}">{{ description if description else path }}</a>{% endmacro %}{% set alias = link_to %}