{% from "macros/emphasize.jinja" import emphasize %}
{% macro note_block(text) %}
  <div class="py-2">
    <div class="bg-sky-100 rounded border-l-8 border-l-sky-900 dark:bg-sky-800 dark:border-l-sky-300">
      <div class="px-4 pt-4 pb-2 text-sky-900 dark:text-zinc-900"><i class="fa fa-check-circle" aria-hidden="true"></i> <b>Note</b></div>
      <div class="px-4 pb-4 dark:text-zinc-900">{{ text | safe }}</div>
    </div>
  </div>
{% endmacro %}
{% set alias = note_block %}

{% macro important_block(text) %}
  <div class="py-2">
    <div class="bg-amber-100 rounded border-l-8 border-l-amber-400 dark:bg-amber-600 dark:border-l-amber-300">
      <div class="px-4 pt-4 pb-2 text-amber-900 dark:text-zinc-900"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <b>Important</b></div>
      <div class="px-4 pb-4 dark:text-zinc-900">{{ text | safe }}</div>
    </div>
  </div>
{% endmacro %}
{% set alias = important_block %}

{% macro warning_block(text) %}
  <div class="py-2">
    <div class="bg-rose-100 rounded border-l-8 border-l-rose-400 dark:bg-rose-700 dark:border-l-rose-300">
      <div class="px-4 pt-4 pb-2 text-rose-800 dark:text-zinc-900"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <b>Warning</b></div>
      <div class="px-4 pb-4 dark:text-zinc-900">{{ text | safe }}</div>    
    </div>
  </div>
{% endmacro %}
{% set alias = warning_block %}

{% macro tip_block(text) %}
  <div class="py-2">
    <div class="bg-lime-100 rounded border-l-8 border-l-lime-400 dark:bg-lime-700 dark:border-l-lime-300">
      <div class="px-4 pt-4 pb-2 text-green-800 dark:text-zinc-900"><i class="fas fa-asterisk" aria-hidden="true"></i> <b>Hot Tip</b></div>
      <div class="px-4 pb-4 dark:text-zinc-900">{{ text | safe }}</div>    
    </div>
  </div>
{% endmacro %}
{% set alias = tip_block %}
