{% macro page_header(heading, published_date="") %}
<div class="pt-5">
  <h1 class="text-5xl text-zinc-900 font-black pb-3">{{ heading | title_case }}</h1>
  {% if published_date %}
    <p class="text-gray-500 italic">published: {{ published_date | human_date }}</p>
  {% endif %}
</div>
{% endmacro %}
{% set alias = page_header %}
