{% macro page_header(heading, published_date="", updated_date="") %}
<div class="pt-5 text-center">
  <h1>{{ heading | title_case }}</h1>
  <div class="">
    {% if updated_date %}
      <p class="text-gray-400 text-lg italic p-0">
        updated: {{ updated_date | human_date }}
      </p>
    {% endif %}
    {% if published_date %}
      <p class="text-gray-400 text-lg italic p-0">
        published: {{ published_date | human_date }}
      </p>
    {% endif %}
  </div>
</div>
{% endmacro %}
{% set alias = page_header %}
