{% macro blank_page(start=0, end=10) %}
<!-- BLANK PAGE START -->
<div id="blank-page">
  {% for item in range(start=start, end=end) %}
    <br>
  {% endfor %}
</div>
<!-- BLANK PAGE END -->
{% endmacro %}