{% macro header(heading, published_date="", updated_date="") %}
<!-- PAGE HEADER START -->
<div id="page-header" class="pt-20 -mb-4 pb-0 px-5 text-center sm:pb-4 sm:mb-0">
  <h1 class="pb-1 sm:pb-2">{{ heading | title_case }}</h1>
  <div class="">
    {% if updated_date %}
      <p class="text-neutral-400 dark:text-neutral-600 text-lg italic p-0">
        updated: {{ updated_date | human_date }}
      </p>
    {% endif %}
    {% if published_date %}
      <p class="text-neutral-400 dark:text-neutral-600 text-lg italic p-0">
        published: {{ published_date | human_date }}
      </p>
    {% endif %}
  </div>
</div>
<!-- PAGE HEADER END -->
{% endmacro %}

{% macro code_block(header, language, code) %}
<!-- CODE BLOCK START -->
<div id="code-block" class="pt-2 pb-4">
  <div class="rounded-lg border-4 border-zinc-900 shadow-md shadow-zinc-400 dark:shadow-none">
    <div class="py-1 text-center font-bold font-mono border-b-4 border-zinc-900">
      <span class="">{{ header }}</span>
    </div>
    <div class="font-mono">
      <pre><code class="language-{{ language }} hljs px-5 dark:opacity-80 rounded-b">{{ code | safe }}</code></pre>
    </div>
  </div>
</div>
<!-- CODE BLOCK END -->
{% endmacro %}

{% macro tag_block(tags, center=false) %}
{% if tags %}
<!-- TAGS START -->
  <div id="tags" class="pb-2">
    <div class="flex {% if center %}justify-center{% endif %}">
      {% for tag in tags %}
        <div class="{% if not loop.last %}pr-2{% endif %} text-rose-700 hover:text-rose-900 font-semibold italic lowercase tracking-wide">
          <i class="-mr-1.5 text-2xl">#</i>
          <a href="/blog/tag/#{{ tag | slugify }}" class="text-xl">{{ tag | slugify }}</a>        
        </div>
      {% endfor %}
    </div>
  </div>
<!-- TAGS END -->
{% endif %}
{% endmacro %}

{% macro breadcrumbs(items) %}
<!-- BREADCRUMBS START -->
<div id="breadcrumbs" class="pb-2 font-mono font-bold text-xl tracking-tight">
  <nav class="rounded px-3 py-2 w-fit bg-zinc-200 shadow-md shadow-zinc-400 dark:bg-zinc-900 dark:shadow-inner dark:shadow-black">
    <ol class="flex flex-wrap">
      {% for item in items %}
        <li class="text-sky-600 dark:text-sky-800">{{ item }}</li>
        {% if not loop.last %}
          <li><span class="mx-2 font-extrabold text-zinc-800 dark:text-inherit">&gt;</span></li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
</div>
<!-- BREADCRUMBS END -->
{% endmacro %}

{% macro emphasize(text) %}<i class="px-2 py-1 font-mono font-semibold rounded bg-neutral-200 border border-neutral-300 text-zinc-900 dark:bg-zinc-900 dark:text-neutral-400 dark:border-zinc-800">{{ text }}</i>{% endmacro %}

{% macro code(text) %}<i class="px-2 py-1 font-mono font-semibold rounded bg-zinc-900 text-emerald-400 dark:text-emerald-700">{{ text }}</i>{% endmacro %}

{% macro note_block(text) %}
<!-- NOTE BLOCK START -->
<div id="note-block" class="pt-2 pb-4">
  <div class="shadow-md shadow-zinc-400 bg-sky-100 rounded border-l-8 border-l-sky-900 dark:border-l-sky-600 dark:bg-sky-800 dark:shadow-none">
    <div class="px-4 pt-4 pb-2 text-sky-900 dark:text-zinc-900"><i class="fa fa-check-circle" aria-hidden="true"></i> <b>Note</b></div>
    <div class="px-4 pb-4 dark:text-zinc-900">{{ text | safe }}</div>
  </div>
</div>
<!-- NOTE BLOCK END -->
{% endmacro %}

{% macro important_block(text) %}
<!-- IMPORTANT BLOCK START -->
<div id="important-block" class="pt-2 pb-4">
  <div class="shadow-md shadow-zinc-400 bg-amber-100 rounded border-l-8 border-amber-500/90 dark:bg-amber-700 dark:border-l-amber-500 dark:shadow-none">
    <div class="px-4 pt-4 pb-2 text-amber-500/90 dark:text-zinc-900"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <b>Important</b></div>
    <div class="px-4 pb-4 dark:text-zinc-900">{{ text | safe }}</div>
  </div>
</div>
<!-- NOTE BLOCK END -->
{% endmacro %}

{% macro warning_block(text) %}
<!-- WARNING BLOCK START -->
<div id="warning-block" class="pt-2 pb-4">
  <div class="shadow-md shadow-zinc-400 bg-rose-100 rounded border-l-8 border-l-rose-700 dark:bg-rose-800 dark:border-l-rose-600 dark:shadow-none">
    <div class="px-4 pt-4 pb-2 text-rose-700 dark:text-zinc-900"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <b>Warning</b></div>
    <div class="px-4 pb-4 dark:text-zinc-900">{{ text | safe }}</div>    
  </div>
</div>
<!-- WARNING BLOCK END -->
{% endmacro %}

{% macro tip_block(text) %}
<!-- TIP BLOCK START -->
<div id="tip-block" class="pt-2 pb-4">
  <div class="shadow-md shadow-zinc-400 bg-lime-100 rounded border-l-8 border-l-lime-700 dark:bg-lime-800 dark:border-l-lime-600 dark:shadow-none">
    <div class="px-4 pt-4 pb-2 text-lime-700 dark:text-zinc-900"><i class="fas fa-asterisk" aria-hidden="true"></i> <b>Hot Tip</b></div>
    <div class="px-4 pb-4 dark:text-zinc-900">{{ text | safe }}</div>    
  </div>
</div>
<!-- TIP BLOCK END -->
{% endmacro %}

{% macro quote_block(attribution, text) %}
<!-- QUOTE BLOCK START -->
<div id="quote-block" class="pt-2 pb-4 text-center">
  <div>
    <q class="italic">{{ text }}</q>
  </div>
  <div>
    <p> - {{ attribution }}</p>
  </div>
</div>
<!-- QUOTE BLOCK END -->
{% endmacro %}
