{% extends "layouts/site.jinja" %}

{% block page_header %}
  {% if post %}
    {{ page_header(heading=post.title, published_date=post.published_date) }}
  {% else %}
    {{ page_header(heading="Blog Posts") }}
  {% endif %}
{% endblock page_header %}

{% block page_content %}
  <div class="">
    {% for post in posts %}
      <div class="py-2">
        <div class="block p-4 rounded-lg shadow-lg bg-white border-2">
          <a class="text-fuchsia-500 font-semibold text-xl no-underline hover:underline" href="/blog/{{ post.title | parameterize }}">{{ post.title | title_case }}</a>
          <p class="text-gray-400 text-md italic">
            published: {{ post.published_date }}
          </p>
          <p class="text-gray-800 text-lg">
            {{ post.description }}
          </p>
          <div class="">
            {{ tags(tags=post.tags) }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock page_content %}

{% block page_tags %}
  {% if post %}
    {{ tags(tags=post.tags) }}
  {% endif %}
{% endblock page_tags %}

