{% import "macros/link.jinja" as link %}
{% import "macros/text.jinja" as text %}
{% import "macros/image.jinja" as image %}
{% import "macros/spacer.jinja" as spacer %}
{% import "macros/table.jinja" as table %}

{% set_global root_path = "/" %}
{% set_global blog_path = "/blog" %}

<!DOCTYPE html>
<html lang="en" class="dark scroll-smooth scroll-pt-20">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block favicon %}
      <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    {% endblock favicon %}
    
    {% block css_vendor %}
      <link rel="stylesheet" href="/css/highlightjs/highlightjs-xt256.css">
      <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
    {% endblock css_vendor %}

    {% block css_app %}
      <link rel="stylesheet" href="/css/app.css">
    {% endblock css_app %}

    {% block js_vendor %}
      <script src="/js/highlightjs/highlightjs-11.5.0.min.js"></script>
      <script src="/js/highlightjs/terraform.js"></script>
      <script defer src="/js/fontawesome/js/all.js"></script>
    {% endblock js_vendor %}

    {% block js_app %}
      <script defer src="/js/custom/back-to-top.js"></script>
      <script defer src="/js/custom/light-switch.js"></script>
    {% endblock js_app %}

    {% block js_init %}
      <script>
        hljs.registerLanguage('terraform', window.hljsDefineTerraform);
        hljs.highlightAll();
      </script>
    {% endblock js_init %}

    {% block js_page_local %}
    {% endblock js_page_local %}

    <title>{{ project }}.com</title>
  </head>

  <body class="bg-stone-50 dark:bg-black">

    {% include "includes/navbar.jinja" %}

    <div class="w-full">
      {% block page_header %}
        {{ text::header(heading=project) }}
      {% endblock page_header %}

      <!-- CONTENT START -->
      <div class="grid grid-cols-12 gap-8">

        <!-- COLUMN 1 START -->
        <div class="invisible md:visible md:col-span-3">
        </div>
        <!-- COLUMN 1 END -->

        <!-- COLUMN 2 START -->
        <div class="col-span-12 px-5 md:col-span-6">
          <div class="leading-9 text-xl text-gray-800 dark:text-neutral-400 font-medium">
            {% block page_content %}
            {% endblock page_content %}
          </div>

          {% block page_tags %}
          {% endblock page_tags %}

          {% block blank_page %}
            {{ spacer::blank_page() }}
          {% endblock blank_page %}
        </div>
        <!-- COLUMN 2 END -->

        <!-- COLUMN 3 START -->
        <div class="invisible md:visible md:col-span-3">
          {% block page_toc %}
          {% endblock page_toc %}
        </div>
        <!-- COLUMN 3 END -->

      </div>
      <!-- CONTENT END -->

      {% include "includes/back-to-top.jinja" %}
    </div>
  
    {% include "includes/footer.jinja" %}

  </body>

</html>
