{% from "macros/page-header.jinja" import page_header %}
{% from "macros/link-to.jinja" import link_to %}
{% from "macros/tags.jinja" import tags %}
{% from "macros/code-block.jinja" import code_block %}
<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/app.css">
    {# <link rel="stylesheet" href="/css/font.css"> #}

    <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/tokyo-night-dark.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/highlight.min.js"></script>

    <!-- Initialize highlight.js -->
    <script>hljs.highlightAll();</script>

    <title>{{ project }}.com</title>
  </head>

  <body class="">

  {% include "includes/navbar.jinja" %}

  <div class="grid place-items-center pt-16">
    {% block page_header %}
      {{ page_header(heading=project + " Site") }}
    {% endblock page_header %}

    <div class="w-3/5 min-w-full md:min-w-0 px-10 text-xl text-gray-800">
      {% block page_content %}
      {% endblock page_content %}
    </div>

    {% block page_tags %}
    {% endblock page_tags %}

    {% block blank_page %}
      {% include "includes/blank-page.jinja" %}
    {% endblock blank_page %}
  
  </div>
  </body>

  {% include "includes/footer.jinja" %}
</html>
