{% from "macros/page-header.jinja" import page_header %}
{% from "macros/link-to.jinja" import link_to %}
{% from "macros/elink-to.jinja" import elink_to %}
{% from "macros/tags.jinja" import tags %}
{% from "macros/code-block.jinja" import code_block %}
<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block favicon %}
      <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    {% endblock favicon %}
    
    {% block css_vendor %}
      <link rel="stylesheet" href="/css/highlightjs/highlightjs-xt256.css">
      <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
    {% endblock css_vendor %}

    {% block css_app %}
      <link rel="stylesheet" href="/css/app.css">
      {# <link rel="stylesheet" href="/css/light-switch.css"> #}
    {% endblock css_app %}

    {% block js_vendor %}
      <script src="/js/highlightjs/highlightjs-11.5.0.min.js"></script>
      <script src="/js/highlightjs/terraform.js"></script>
      <script defer src="/js/fontawesome/js/all.js"></script>
    {% endblock js_vendor %}

    {% block js_app %}
      {# <script defer src="/js/custom/back-to-top.js"></script> #}
      <script defer src="/js/custom/light-switch.js"></script>
    {% endblock js_app %}

    {% block js_init %}
      <script>
        hljs.registerLanguage('terraform', window.hljsDefineTerraform);
        hljs.highlightAll();
      </script>
    {% endblock js_init %}

    {% block js_page_local %}
    {% endblock js_page_local %}

    <title>{{ project }}.com</title>
  </head>

  <body class="bg-stone-50 dark:bg-black">

    {% include "includes/navbar.jinja" %}

    <div class="grid place-items-center pt-16">
      {% block page_header %}
        {{ page_header(heading=project + " Site") }}
      {% endblock page_header %}

      <div class="w-3/5 min-w-full md:min-w-0 px-10 text-2xl text-gray-800 dark:text-neutral-400 font-medium">
        {% block page_content %}
        {% endblock page_content %}
      </div>

      {% block page_tags %}
      {% endblock page_tags %}

      {% block blank_page %}
        {% include "includes/blank-page.jinja" %}
      {% endblock blank_page %}
    </div>

  </body>

  {% include "includes/footer.jinja" %}
</html>
