<p>
  To exit the console use one of these key combinations (Assuming English keyboard).
</p>
<ul>
  <li>{{ text::kbd(text="CTRL") }} + {{ text::kbd(text="]") }}</li>
  <li>{{ text::kbd(text="CTRL") }} + {{ text::kbd(text="5") }}</li>
  <li>Press and hold {{ text::kbd(text="CTRL") }} and {{ text::kbd(text="SHIFT") }} while pressing {{ text::kbd(text="6") }} then {{ text::kbd(text="]") }}</li>
</ul>