{% extends "layouts/site.jinja" %}

{% block page_header %}
  {{ text::header(heading="whoami") | lower }}
{% endblock page_header %}

{% block page_content %}
<div class="">
  <div class="flex justify-center">
    <img class="" src="/img/me-round.png" alt="me">
  </div>
  <div class="">
    <p class="">
      Hey you 👋 thanks for visiting my little corner of the wild wild web 🤠
      I'm Brad, a bag of meat and bones from Brisbane, Australia 🪃
    </p>
    <p>
      I have a background in networking, but somewhere along the way I learned
      how to code 🤯
    </p>
    <p>
      At ${JOB} I work with customers as a solution architect in 
      the Network Detection and Response (NDR) field.
    </p>
    <p>
      Here at {{ link::i(path="#", description="codingpackets.com") }},
      I write about my adventures in networking, security, cloud and devops 
      as I attempt to automate all the stuff and things! 
    </p>
    <p>
      If you would like to reach me, I can maybe, possibly be contacted 
      through the links in the footer down there 👇
    </p>
  </div>
</div>
{% endblock page_content %}
