{% macro i(path, description="") %}<a class="text-[#1a1b26] no-underline hover:text-sky-900" href="{{ path }}">{% if description %}{{ description }}{% else %}{{ path }}{% endif %}</a>{% endmacro %}

{% macro e(path, description="") %}<a class="text-[#1a1b26] no-underline hover:text-sky-900" href="{{ path }}" target=_blank>{% if description %}{{ description }}{% else %}{{ path }}{% endif %}</a>{% endmacro %}

{% macro ref(path) %}<a class="text-[#1a1b26] no-underline hover:text-sky-900" href="#references-{{ path }}"><sup>[{{ path }}]</sup></a>{% endmacro %}
