{% macro default(header, rows) %}
<!-- TABLE DEFAULT START -->
<div id="table-default" class="py-2 text-xl font-mono tracking-normal">
  <div class="rounded-md shadow-md shadow-zinc-400 dark:shadow-zinc-900 overflow-auto">
    <table class="table-auto w-full">
      <thead class="text-center">
        <tr class="bg-zinc-900 text-neutral-400 dark:text-neutral-400">
        {% for column in header %}
          {% if loop.last %}
            <th class="py-1 px-2 border-b-2 border-zinc-800">{{ column }}</th>
          {% else %}
            <th class="py-1 px-2 border-b-2 border-r-2 border-zinc-800">{{ column }}</th>
          {% endif %}
        {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for row in rows %}
        {% set columns = row | split(pat="|") %}
        {% if loop.last %}
          <tr class="">
        {% else %}
          <tr class="border-b-2 border-zinc-800">
        {% endif %}
          {% for column in columns %}
            {% if loop.first %}
              <td class="px-2 pt-1 pb-2 border-r-2 border-zinc-800">{{ column }}</td>
            {% elif loop.last %}
              <td class="px-2 pt-1 pb-2 border-l-2 border-zinc-800">{{ column }}</td>
            {% else %}
              <td class="px-2 pt-1 pb-2 border-l-2 border-r-2 border-zinc-800">{{ column }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- TABLE DEFAULT END -->
{% endmacro %}


{% macro toc(header, rows, slug=false) %}
<!-- TABLE OF CONTENTS START -->
<div id="table-of-contents" class="invisible md:visible h-4/5 overflow-y-auto">
  <div class="">
    <h5 class="">{{ header }}</h5>
  </div>
  <div class="">
    {% for row in rows %}
      {% if row != "uncategorised" %}
        <div class="px-1">
          <a class="text-sky-600 font-normal text-xl no-underline hover:text-sky-800" href="#{{ row | slugify }}">
            {% if slug %}{{ row | slugify }}{% else %}{{ row }}{% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}  
  </div>
</div>
<!-- TABLE OF CONTENTS END -->
{% endmacro %}


{% macro references(references) %}
<!-- TABLE REFERENCES START -->
<div id="references" class="pb-2">
  <div class="">
    <h3>References</h3>
  </div>
  <div class="">
    {% for reference in references %}
      <span id="references-{{ loop.index }}" class="pr-2">{{ loop.index }})</span> <span>{{ reference }}</span><br>
    {% endfor %}
  </div>
</div>
<!-- TABLE REFERENCES END -->
{% endmacro %}

{% macro bibliography(bibliography) %}
<!-- TABLE BIBLIOGRAPHY START -->
<div id="bibliography" class="pb-2">
  <div class="">
    <h3>Bibliography</h3>
  </div>
  <div class="">
    {% for bib in bibliography %}
      <span id="bibliography-{{ loop.index }}" class="pr-2">{{ loop.index }})</span> <span>{{ bib }}</span><br>
    {% endfor %}
  </div>
</div>
<!-- TABLE BIBLIOGRAPHY END -->
{% endmacro %}
