{% macro default(header, rows) %}
<!-- TABLE DEFAULT START -->
<div id="table-default" class="py-2 text-xl font-mono tracking-normal">
  <div class="rounded-md shadow-md shadow-zinc-400 dark:shadow-zinc-900 overflow-auto">
    <table class="table-auto w-full">
      <thead class="text-center">
        <tr class="bg-zinc-900 text-neutral-400 dark:text-neutral-400">
        {% for column in header %}
          {% if loop.last %}
            <th class="py-1 px-2 border-b border-zinc-800">{{ column }}</th>
          {% else %}
            <th class="py-1 px-2 border-b border-r border-zinc-800">{{ column }}</th>
          {% endif %}
        {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for row in rows %}
        {% set columns = row | split(pat="|") %}
        {% if loop.last %}
          <tr class="">
        {% else %}
          <tr class="border-b border-zinc-800">
        {% endif %}
          {% for column in columns %}
            {% if loop.first %}
              <td class="px-2 pt-1 pb-2 border-r border-zinc-800">{{ column }}</td>
            {% elif loop.last %}
              <td class="px-2 pt-1 pb-2 border-l border-zinc-800">{{ column }}</td>
            {% else %}
              <td class="px-2 pt-1 pb-2 border-l border-r border-zinc-800">{{ column }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- TABLE DEFAULT END -->
{% endmacro %}


{% macro toc(header, rows, slug=false) %}
<!-- TABLE OF CONTENTS START -->
<div id="table-of-contents" class="invisible md:visible h-4/5 overflow-y-auto">
  <div class="">
    <h5 class="">{{ header }}</h5>
  </div>
  <div class="">
    {% for row in rows %}
      {% if row != "uncategorised" %}
        <div class="px-1">
          <a class="menu-item font-normal text-xl text-sky-600 no-underline" href="#{{ row | slugify }}">
          {% if slug %}{{ row | slugify }}{% else %}{{ row }}{% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}  
  </div>
</div>
<!-- TABLE OF CONTENTS END -->
{% endmacro %}


{% macro references(references) %}
<!-- TABLE REFERENCES START -->
<div id="references" class="pb-2">
  <div class="">
    <h3>References</h3>
  </div>
  <div class="">
    {% for reference in references %}
      <span id="references-{{ loop.index }}" class="pr-2">{{ loop.index }})</span> <span>{{ reference }}</span><br>
    {% endfor %}
  </div>
</div>
<!-- TABLE REFERENCES END -->
{% endmacro %}

{% macro bibliography(bibliography) %}
<!-- TABLE BIBLIOGRAPHY START -->
<div id="bibliography" class="pb-2">
  <div class="">
    <h3>Bibliography</h3>
  </div>
  <div class="">
    {% for bib in bibliography %}
      <span id="bibliography-{{ loop.index }}" class="pr-2">{{ loop.index }})</span> <span>{{ bib }}</span><br>
    {% endfor %}
  </div>
</div>
<!-- TABLE BIBLIOGRAPHY END -->
{% endmacro %}


{% macro book(header, rows) %}
<!-- TABLE BOOK START -->
<div id="table-book" class="py-2 text-xl font-mono tracking-normal">
  <div class="rounded-md shadow-md shadow-zinc-400 dark:shadow-zinc-900 overflow-auto">
    <table class="table-auto w-full">
      <thead class="text-center">
        <tr class="bg-zinc-900 text-neutral-400 dark:text-neutral-400">
          <th class="py-1 px-2">{{ header[0] }}</th>
          <th class="py-1 px-2 border-x border-zinc-800">{{ header[1] }}</th>
          <th class="py-1 px-2">{{ header[2] }}</th>
        </tr>
      </thead>
      <tbody>
      {% for row in rows %}
      <tr class="">
        <td class="px-2 pt-1 pb-2 border-t border-zinc-800">
          <h5>{{ row.title }}</h5>
          {{ row.description }}
        </td>
        <td class="px-2 pt-1 pb-2 border-t border-l border-r border-zinc-800">{{ row.authors }}</td>
        <td class="px-2 pt-1 pb-2 border-t border-zinc-800 text-center">{{ row.date_finished }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- TABLE BOOK END -->
{% endmacro %}