{% macro default(header, rows) %}
<!-- TABLE DEFAULT START -->
<div class="py-2">
  <div id="table-default" class="text-xl font-mono tracking-normal rounded-lg border-4 border-gray-900 dark:border-gray-800">
    <div class="overflow-auto">
      <table class="table-auto w-full">
        <thead class="text-left">
          <tr class="bg-gray-900 text-neutral-400 dark:text-neutral-400 dark:bg-gray-800">
          {% for column in header %}
            <th class="px-4 py-2">{{ column }}</th>            
          {% endfor %}
          </tr>
        </thead>
        <tbody class="">
        {% for row in rows %}
          {% set columns = row | split(pat="|") %}
          {% if loop.last %}
            <tr class="">
          {% else %}
            <tr class="border-b border-zinc-300 dark:border-gray-800">
          {% endif %}
            {% for column in columns %}
              <td class="px-4 py-2">{{ column }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- TABLE DEFAULT END -->
{% endmacro %}


{% macro toc(header, rows, slug=false) %}
<!-- TABLE OF CONTENTS START -->
<div id="table-of-contents" class="invisible md:visible h-4/5 overflow-y-auto">
  <div class="">
    <h5 class="">{{ header }}</h5>
  </div>
  <div class="">
    {% for row in rows %}
      {% if row != "uncategorised" %}
        <div class="px-1">
          <a class="menu-item font-normal text-xl text-gray-600 no-underline hover:decoration-2 hover:underline hover:underline-offset-4 dark:text-gray-400" href="#{{ row | slugify }}">
          {% if slug %}{{ row | slugify }}{% else %}{{ row }}{% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}  
  </div>
</div>
<!-- TABLE OF CONTENTS END -->
{% endmacro %}


{% macro references(references) %}
<!-- TABLE REFERENCES START -->
<div id="references" class="pb-2">
  <div class="">
    <h3>References</h3>
  </div>
  <div class="">
    {% for reference in references %}
      <span id="references-{{ loop.index }}" class="pr-2">{{ loop.index }})</span> <span>{{ reference }}</span><br>
    {% endfor %}
  </div>
</div>
<!-- TABLE REFERENCES END -->
{% endmacro %}

{% macro bibliography(bibliography) %}
<!-- TABLE BIBLIOGRAPHY START -->
<div id="bibliography" class="pb-2">
  <div class="">
    <h3>Bibliography</h3>
  </div>
  <div class="">
    {% for bib in bibliography %}
      <span id="bibliography-{{ loop.index }}" class="pr-2">{{ loop.index }})</span> <span>{{ bib }}</span><br>
    {% endfor %}
  </div>
</div>
<!-- TABLE BIBLIOGRAPHY END -->
{% endmacro %}


{% macro book(header, rows) %}
<!-- TABLE BOOK START -->
<div class="py-2">
  <div id="table-book" class="text-xl font-mono tracking-normal rounded-lg border-4 border-gray-900">
    <div class="overflow-auto">
      <table class="table-auto w-full">
        <thead class="text-left">
          <tr class="bg-gray-900 text-neutral-400 dark:text-neutral-400">
            <th class="py-2 px-4">{{ header[0] }}</th>
            <th class="py-2 px-4">{{ header[1] }}</th>
            <th class="py-2 px-4">{{ header[2] }}</th>
          </tr>
        </thead>
        <tbody>
        {% for row in rows %}
          {% if loop.last %}
            <tr class="">
          {% else %}
            <tr class="border-b border-zinc-300 dark:border-zinc-900">
          {% endif %}
          <td class="px-2 py-2 ">
            <h5>{{ row.title }}</h5>
            {{ row.description }}
          </td>
          <td class="px-2 py-2">{{ row.authors }}</td>
          <td class="px-2 py-2 text-center">{{ row.date_finished }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- TABLE BOOK END -->
{% endmacro %}