{% extends "_layouts/blog.jinja" %}

{% block page_content %}

<h3 id="intro">Intro</h3>
<p>
  2019 turned out to be a pretty productive year. At the start of the year I set
  myself a few goals outlined in {{ link::i(path="/blog/2019-goals", description="this") }} post.
  How did I stack up? Read on to find out.
</p>

<h3 id="2019-goals">2019 Goals</h3>
<h4><b>Loose 20kgs</b></h4>
<p>
  I started out the year at 89.9kgs and wanting to lose 20kgs. I finished the year at 71.9kgs
  a loss of 18kgs. Not exactly hitting my goal, but I am very happy with the results. I am
  much healthier, feel a lot better and have more energy to get things done.
</p>

<h4><b>Family</b></h4>
<p>
  I had a lot more quality time with my family in 2019. We went on 2 holidays,
  had a few weekends away and a lot of fun times in between. It was much better
  than previous years but I would like to do more in 2020.
</p>

<h4><b>Read 20 Non-Technical Books</b></h4>
<p>
  I didnt exactly read 20 books but I did listen to a lot of audiobooks. The total
  books in both book/audiobook format was 48.
  Check out {{ link::i(path="/blog/books-i-read", description="this") }} post for a list
  of the sweet booky goodness.
</p>

<h4><b>JNCIX SP</b></h4>
<p>
  I managed to get to the JNCIS-SP level certification. It was a grind at times
  but I am glad that I did get as far as I did.
</p>

<h4><b>Azure Solution Architect</b></h4>
<p>
  I did not have a chance to really dig into Azure certs in 2019. I worked with a customer
  on a network automation project where we used Azure devops service heavily. I really
  like Azure and I hope to work with it more in the future.
</p>

<h4><b>One Post A Week</b></h4>
<p>
  I did not quite reach this goal but I am happy with my output. I received many positive
  comments and connections from people via Linkedin which gives me motivation to keep on going.
  Thanks to everyone who reached out to me and also to those that didn't. I hope you find value
  in my scribblings.
</p>

<h4><b>Move To Rails</b></h4>
<p>
  {{ link::i(path="/", description=root_path_description) }} is now powered by rails.
  Check out {{ link::i(path="/blog/coding-packets-the-rails-edition", description="this") }} post to
  find out more details.
</p>

<h3 id="outro">Outro</h3>
<p>
  All in all I think I did pretty well in achieving my 2019 goals. As well as the above I also
  started a company, started learning golang, quit drinking caffeine and started drinking alcohol
  again after 2 years off! Look out for a future post on what I would like to achieve in 2020.
</p>

{% endblock page_content %}