{% extends "_layouts/blog.jinja" %}

{% block page_content %}

<h3 id="intro">Intro</h3>
<p>
  Its 2020 a new year and a new decade. I want to start the next decade
  with a bang and not spend it like I spend the last decade working myself
  to death. My goals for this year are primarily personal. I still have
  career related goals but they are not my primary focus.
</p>

<h3 id="2020-goals">2020 Goals</h3>
<ul>
  <li>10% body fat</li>
  <li>Family</li>
  <li>Read 20 non-technical books</li>
  <li>Play more guitar</li>
  <li>Golang</li>
  <li>JNCIP-SP</li>
</ul>

<h4><b>10% body fat</b></h4>
<p>
  Last year I wanted to lose 20 kilos, I lost 18 so that was pretty close.
  This year the healthy lifestyle will continue. I am more focused on reducing my
  body fat down to around 10% and building lean muscle than focusing on a weigh loss
  goal. Based on past experience somewhere between 70-75 kilos
  is my optimal weight even though im a hobbit at 158cm. I need to get measured so I
  know my starting point but will update the post once I find out.
</p>

<h4><b>Family</b></h4>
<p>
  As with 2019 my focus on spending quality family time with my kids will continue.
  I share custody of them with their mum so when they are with me I want to make
  sure we are all having a good time and creating happy memories.
</p>

<h4><b>Read 20 Non-Technical Books</b></h4>
<p>
  In 2019 I read and listened to a lot of books. I will keep doing that this year
  and aim for a book every 2 week ruffly.
</p>

<h4><b>Play More Guitar</b></h4>
<p>
  I have been playing guitar on and off for about 12 years and im still not very
  good at it. I will attempt to play for 30 minutes a day and learn to play 5 songs.
</p>

<h4><b>Golang</b></h4>
<p>
  Last year I started learning Golang and picked up the basics. This year in January/February
  I am dedicating more time to really dig into Golang. I have a couple of projects in mind that
  I am looking to write in Golang so that will begin after February.
</p>

<h4><b>JNCIP-SP</b></h4>
<p>
  This is a bit of a loose goal. Right now I dont have the motivation to start this journey.
  January and February are really busy months for me at work, but after that if I can find
  the motivation to go for the JNCIP-SP I will start studying in March.
</p>


<h3 id="outro">Outro</h3>
<p>
  2020 is shaping up to be a great year. This year I will primarily focus on myself and my family.
  Im looking forward to living a healthy physical, mental and emotional lifestyle. I hope you all
  have a fabulous 2020. Peace out!
</p>


{% endblock page_content %}