{% extends "_layouts/blog.jinja" %}

{% block page_content %}

<h3 id="intro">Intro</h3>
<p>
  2020. WAS. A. SHIT. SHOW. Thank you global pandemic. /RANT 
</p>
<p>
  At the start of the year I set
  myself a few goals outlined in {{ link::i(path="/blog/2020-goals", description="this") }} post.
  Some went to plan, some did not. Head down below for a recap.
</p>

<h3 id="2020-goals">2020 Goals</h3>
<h4>10% body fat</h4> 
<p>
  I was committed to continuing the healthy lifestyle and I definitely stuck to 
  this one. Between working out at home, hitting the gym once covid restrictions 
  ended and riding a road bike I had a good year of exercise.
</p>
<p>
  During my last body scan on the 2020/10/03 my levels were looking great.
  My weight was 72.1 kgs. Muscle mass was up and body fat was down. I was 
  at 13.2% body fat at that point. Not bad considering I was 18.9 on 
  2020/02/02. My next scan is at the end of January 
  so I will update this post once I get those results. 
</p>

<h4>Family</h4>
<p>
  With all that went on this year, I am really thankful to have my kids around
  safe and healthy. We ended up working from home for most of the year and that
  gave me heaps and heaps of time back to spend with the family. 
</p>
<p>
  Due to travel restrictions, I could not get interstate to see my parents, 
  siblings and extended family. This was especially hard when my Grandmother 
  passed away (not of covid) and we could not travel to say our farewells 
  or attend the funeral. We also had to cancel our Christmas holiday at the 
  last minute due to covid. I am hoping to get to see them in the next 
  month or two fingers crossed.
</p>

<h4>Read 20 Non-Technical Books</h4>
<p>
  I didn't read or listen to many books this year. For most of the year I could not 
  concentrate on anything other than family, exercise and work. I just had no 
  motivation for it. I didnt travel in the car alot and when I was working out I 
  had music on full blast. They are the times I most listen to audiobooks.
  Check out {{ link::i(path="/blog/books-i-read", description="this") }} post for a list
  of the books I did get through.
</p>

<h4>Play more guitar</h4>
<p>
  A big fat donought.
</p>

<h4>Golang</h4>
<p>
  I did spend a bit of time learning Golang again. I have a couple of projects in 
  the pipeline that I hope to open source next year that are written in Go.
</p>

<h4>JNCIP-SP</h4>
<p>
  Another donought with sprinkles on top. It was a strech goal :)
</p>

<h4>What Else</h4>
<p>
  Not a whole lot really. I started riding a road bike. I have really taken 
  a shine to it and will keep doing that as a major part of my exercise routine.
</p>
<p>
  I got a new job a couple of weeks ago and I am starting that at the end of 
  January 2021.
</p>

<h3 id="outro">Outro</h3>
<p>
  2020 was shizer. But it was worse for alot of people. I dont know anyone 
  that was sick or died from covid. I managed to keep my job throughout the year. 
  I stayed fit and healthy and didn't put on 1 trillion lockdown kilos. 
  Let hope 2021 is better for eveyone. Stay healthy Yall!! PEACE OUT &lt;3
</p>

{% endblock page_content %}