{% extends "_layouts/blog.jinja" %}

{% block page_content %}

<h3 id="2022-goals">2022 Goals</h3>

<p>
  In 2021, the pandemic managed to get to me. It seemed 
  like alot of curve balls came my way. But, myself and 
  my family came out the other end healthy and in relatively 
  good spirits.
</p>
<p>
  2022 is going to be a bit of a do-over in terms of my goals 
  for the year.
</p>

<p>
  Without further ado, here are my goals:
</p>

<h3 id="health-and-fitness">Health and Fitness</h3>
<p>
  First and foremost, I am reigniting my focus on 
  my health and fitness. 
</p>

<h4>Atomic Workouts</h4>
<p>
  I am trying something I am dubbing an "atomic workout". 
  I acutally started this in December, but will carry on 
  for this year as well and see if it helps. I got the idea 
  based on the lessons from the book: Atomic Habits. 
</p>
<p>
  I am doing the following workout 5 times a day:
</p>
<ul>
  <li>30x Pushups</li>
  <li>30x Situps</li>
  <li>30x Squats</li>
  <li>10x Chinups</li>
  <li>5x Standing Rollouts</li>
</ul>

<p>
  At the following intervals:
</p>
<ul>
  <li>When I wake up</li>
  <li>Before work</li>
  <li>At lunch</li>
  <li>After work</li>
  <li>After dinner</li>
</ul>
<p>
  The workout should take no more than 10 minutes. 
  As my strength improves, I will up the number of 
  reps.
</p>

<h4>FTP</h4>
<p>
  I am aiming to get my cycling FTP up to 300.
</p>

<h3 id="family">Family</h3>
<p>
  Last year I lost more time that I would like with 
  my family. This year I am back to making a 
  conscious effort to spend more quality time with them.
  I am working from home in my new role, so that helps 
  claw some much needed time back.
</p>
<p>
  Pandemic permitting I would like to take my children 
  to see the rest of my family in another state.
</p>

<h3 id="certifications">Certifications</h3>
<p>
  I am concentrating my areas of study this year 
  more towards the security / cloud space and the certs 
  I am studying reflect that goal.
</p>
<h4>PaloAlto Certified Network Security Engineer (PCNSE)</h4>
<p>
  This is a bit of a carry over from last year. I 
  paid for the exam in January last year, but I 
  kept pushing it out because I was too busy and 
  did not have time to study.
</p>

<h4>Offensive Security Certified Professional (OSCP)</h4>
<p>
  I have had my eye on this cert for a number of years. 
  My current role very much aligns with this cert 
  so I will be studing for it and hope to take it 
  towards the end of the year.
</p>

<h4>AWS Solution Architect Associate/Professional (SAA-C02/SAP-C01)</h4>
<p>
  Again, these AWS certs align with my current role 
  and also my career goals in general. I am aiming 
  to complete up ot the P level.
</p>


<h3 id="books">Books</h3>
<p>
  I will continue my goal of reading/listening 25 
  non-technical books this year.
</p>


<h3 id="programming">Programming</h3>
<p>
  I will be focusing on 2 programming languages this 
  year. The first being Javascript, since I need this 
  for my current role. The second is Rust. Last year 
  I closed the book on Go, I am hoping that Rust can 
  fill the void in my programming heart.
</p>


<h3 id="website">Website</h3>
<p>
  I have wanted to freshen up this site for a while 
  but have not had the time. The good news is, I 
  found the time and this is already done. That is 
  one thing I can cross off my list. ⭐
</p>



<h3 id="mansformation">Mansformation</h3>
<p>
  The mansformation continues. Here's to hoping the 
  beard gods grant me a faceful of man fur by the 
  end of the year. 
</p>


<h3 id="outro">Outro</h3>
<p>
  Thats it, thats my commitments for the year. Things 
  will probably change, but this the plan for now.
  Wishing you all an excellent year ahead ✌️
</p>

{% endblock page_content %}