{% extends "_layouts/blog.jinja" %}

{% block page_content %}

<h3 id="intro">Intro</h3>
<p>
  2022 flew by for me, it's surreal that it is the all but over 
  and we are on the cusp of another lap around that beautiful blazing ball 
  in the sky. After the last 2 years of the covid pandemic, 2022 
  turned out to be a pretty good year for me. So what's the 411?
  Tune in and find out.
</p>

<h3 id="house">House</h3>
<p>
  By far, my biggest success this year was that my partner and I 
  bought a house. Finally, at 42 I achieved a life long goal. 
  It's a place we can call home and have begun to make it our own.
  This has been a really important goal for me to help my family 
  feel safe and secure and provide some long term stability.
</p>

<h3 id="family">Family</h3>
<p>
  I managed to get back more time with the family this year. 
  As covid lockdowns went away we started doing more enjoyable 
  things together. Nothing major, just the little things, like going to 
  the park to play football/soccer/basketball. Pushing my kids on the 
  swings, going swimming and for walks along the bay. Enjoying the 
  occasional weekend breakfast at a cafe. I feel like we spent some great 
  quality time together. As I am writing this, we are on a family 
  vacation to see my side of the family in another state that we have 
  not seen (in-person) for 3 years.
</p>

<h3 id="pain-cave">Pain Cave</h3>
<p>
  Martial arts and fitness has been a big part of my life since I was a teenager. 
  My partner is also an avid triathlete. Owning our own home has allowed us 
  to convert our garage into what has been dubbed the {{ text::emphasize(text="pain cave") }}.
  It's humble but mighty and allows us to get in our workouts without commuting 
  to the gym or paying crazy membership fees.
</p>

<h3 id="certifications">Certifications</h3>
<p>
  I completed the AWS Solutions Architect Associate
  {{ link::i(path="/blog/aws-solutions-architect-associate/", description="certification") }}. 
  As I pivot towards cloud and security in the next phase of my career I 
  am using certs to upskill and solidify my learning. 
</p>

<h3 id="programming">Programming</h3>
<p>
  This year I started learning the Rust programming language and I am 
  really liking it so far. I built a couple of things, most notibly 
  a {{ link::i(path="/blog/coding-packets-the-shazam-edition/", description="static site generator") }}
  that I am using to build content for this site. It's still early days 
  but the future is looking bright.
</p>

<h3 id="books">Books</h3>
<p>
  Looks like I read/listened to 
  {{ link::i(path="/blog/books-i-read/#2022", description="24 books this year") }}. 
  Seems like thats about my average over the last couple of years. About a book 
  every 2 weeks or so.
</p>


<h3 id="outro">Outro</h3>
<p>
  All in all, 2022 was a pretty good year. I managed to kick some goals, some big 
  some small. I hope you kicked some too ✊ With 2023 on the horizon, it's the 
  perfect time to get after it. Go and get after it ✌️
</p>

{% endblock page_content %}