{% extends "_layouts/blog.jinja" %}

{% block page_content %}

<h3 id="intro">Intro</h3>
<p>
  The year is 2023, and after the last couple of crazy years 
  I am looking forward to hammering out a great year in 
  2023. This is my plan.
</p>

<h3 id="family">Family</h3>
<p>
  Over the last few years, I have been making a concerted 
  effort to spend quality time with my family. This year 
  is no different and it's top of my priority list. These are 
  the main items:
</p>
<ul>
  <li>Dinner at resturant 1x per/month with my partner</li>
  <li>Lunch 1x per/month with adult daughter</li>
  <li>1x family holiday</li>
  <li>2x boys (9/6 years) playing a sport</li>
  <li>30 minutes of outside play with my boys per day</li>
</ul>

<h3 id="house-renovations">House Renovations</h3>
<p>
  Last year, we bought a house 🥳. It is 20+ years old and looking 
  a bit dated, so this year we are looking to do some renovations 
  to spruce it up a bit.
</p>
<ul>
  <li>Add a Patio and Deck</li>
  <li>Renovate Kitchen</li>
  <li>Hardwood Floors throughout (except bathrooms)</li>
  <li>Renovate 2x Bathrooms</li>
  <li>Paint inside walls and roof</li>
  <li>Tidy up Front Yard</li>
</ul>
<p>
  I will be doing some of these myself, so it's going to be a pretty 
  busy year. Hopefully we can get most of it done. It's very hard to 
  get trades at the moment, so some of it might bleed into 2024.
</p>

<h3 id="rust">Rust</h3>
<p>
  Last year I started learning (and loving) Rust, This year, I will continue 
  to dig deeper into the language. I feel like I have just scratced the 
  surface but I am committed to getting more proficient. By the end the 
  year I would like to be able to complete 
  {{ link::e(path="https://craftinginterpreters.com/", description="Crafting Interpreters") }}
  in Rust.
</p>


<h3 id="certifications">Certifications</h3>
<p>
  After a hectic last couple of years, I am feel like I have the 
  mental energy to study again. This year I will continue to persue 
  cloud certifications in AWS and if I can get funding and support from 
  my company, an Offensice Security certifcation. The list of certs I am targeting is:
</p>
<ul>
  <li>AWS - Advanced Networking Speciality</li>
  <li>AWS - Security Speciality</li>
  <li>AWS - Solutions Architect Professional</li>
  <li>OSCP - PEN200</li>
</ul>

<h3 id="health-and-fitness">Health and Fitness</h3>
<p>
  Now that I have my pain cave setup it is much more convenient 
  to get my workouts in. I am therfore setting some ambitious fitness goals 
  this year.
</p>
<ul>
  <li>Cycling - Average 200km/week</li>
  <li>Stretching - 30 minutes/day</li>
  <li>Flexibility - Do the splits</li>
  <li>Body Fat - ~5%</li>
</ul>

<h3 id="books">Books</h3>
<p>
  Reading (and listening) to non-technical books has been a really good mental 
  stress break for me over the last few years. This year I will continue to 
  target reading 25 non-technical books.
</p>


<h3 id="outro">Outro</h3>
<p>
  That's my plan. Time for me to start make it happen.
  Wishing you much success with your plans too ✌️
</p>

{% endblock page_content %}