{% extends "_layouts/blog.jinja" %}

{% block page_header %}
  {{ text::header(heading="Blog Archives", published_date="", updated_date="") }}
{% endblock page_header %}

{% block page_content %}
  <div class="">
    {% set_global post_years = [] %}
    {% for year in posts.years | sort | reverse %}
      
      {% for post_year, posts in posts.by_year %}
        
        {% set_global published_posts = [] %}
        {% for post in posts %}
          {% if post.publish and post_year | int == year %}
            {% set_global published_posts = published_posts | concat(with=post) %}
            {% set_global post_years = post_years | concat(with=post_year) %}
          {% endif %}
        {% endfor %}

        {% if post_year | int == year and year != 0 %}
          <div class="pb-4">
            <div class="text-center bg-zinc-900 border-4 border-zinc-900 rounded-t-lg">
              <h3 id="{{ year }}" class="text-2xl font-semibold text-neutral-400 dark:text-neutral-400">{{ year }} - {{ published_posts | length }} {% if published_posts | length < 2 %}Post{% else %}Posts{% endif %}</h3>
            </div>
            <div class="block py-2 px-4 shadow-lg border-4 rounded-b-lg border-zinc-900">
              {% for post in published_posts %}
                <div class="font-medium text-xl">
                  {% set title_slug = post.title | slugify %}
                  {% set blog_path = "/blog/" ~ title_slug %}
                  <span class="pr-2">{{ post.published_date }}</span>
                  <span>{{ link::i(path=blog_path, description=post.title, text="text-2xl", color="sky") }}</span>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
{% endblock page_content %}

{% block page_toc %} 
  {% set_global post_years = post_years | unique %}
  {{ table::toc(header="Years", rows=post_years, slug=true) }}
{% endblock page_toc %}