{% extends "_layouts/blog.jinja" %}
{% block page_content %}

<h3 id="intro">Intro</h3>
<p>
  In this post I will show you how to get the AWS CLI install and setup
  so that you can interact with AWS service via the CLI on your local
  machine.
</p>


<h3 id="installation">Installation</h3>
<p>
  At the time of writing there are two version of the AWS CLI. It is
  recommended to install version 2 of the software as all the dependencies
  are built in.
</p>

<h4>Linux Install</h4>
{{ text::code_block(
  header="cmd",
  language="text",
  code='curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
unzip awscliv2.zip
sudo ./aws/install'
) }}

<p>
  A binary will be installed at {{ text::emphasize(text="/usr/local/aws") }}
</p>

<h4>MacOS Install</h4>

{{ text::code_block(
  header="cmd",
  language="text",
  code='curl "https://awscli.amazonaws.com/AWSCLIV2.pkg" -o "AWSCLIV2.pkg"
sudo installer -pkg AWSCLIV2.pkg -target /'
) }}

<h4>Test Install</h4>
<p>
  You can test the installation with the {{ text::code(text="aws --version") }} command.
</p>

{{ text::code_block(
  header="cmd",
  language="text",
  code='aws --version

# output
aws-cli/2.0.8 Python/3.7.4 Darwin/19.3.0 botocore/2.0.0dev12'
) }}

<h3 id="ami-permissions">AMI permissions</h3>
<p>
  You will need to ensure that your user has sufficient permission to manage resources.
  For my personal account I have applied {{ text::emphasize(text="AdministratorAccess") }}
.
  This could differ for an organisation or yourself depending on how you have AMI
  permission setup.
</p>

<h3 id="api-keys">API Keys</h3>
<p>
  In order to interact with AWS via the CLI tools you will need to generate API keys.
  Generate API keys for you user in the AWS console by navigating to:
</p>

{{ text::breadcrumbs(items=[
  "Services",
  "IAM",
  "Users",
  "<i>User</i>",
  "Create access key",
]) }}

<p>
  The details can be downloaded as a {{ text::emphasize(text="csv") }}
  or use
  them in the next step before proceeding.
</p>
{{ text::note_block(text="
  Once you close the popup window you will not be able to see the secret key again.
")
}}

{{ text::warning_block(text="
    Keep your AWS API keys safe, anyone with access to them can impersonate you and
    potentially provision services as you under your account.
")
}}

<h3 id="environment-variables">Environment Variables</h3>
<p>
  I prefer to set my keys as environment variables in my shell environment. I am
  using a {{ text::emphasize(text="zsh") }}
 shell
</p>
{{ text::code_block(
  header="file",
  language="bash",
  code='# ~/.zshrc

export AWS_ACCESS_KEY_ID="SECRET_KEY_ID"
export AWS_SECRET_ACCESS_KEY="SECRET_KEY"'
) }}

<p>
  Ensure that your {{ text::emphasize(text="~/.zshrc") }}
  file is only readable by yourself
</p>
{{ text::code_block(
  header="cmd",
  language="bash",
  code='chmod 0600 ~/.zshrc'
) }}

<p>
  Source your {{ text::emphasize(text="~/.zshrc") }}
 file to load the variables
  into your shell environment.
</p>

{{ text::code_block(
  header="cmd",
  language="bash",
  code='source ~/.zshrc'
) }}

<h3 id="aws-cli-configuration">AWS CLI Configuration</h3>
<p>
  Now it's time to configure your AWS CLI environment using the {{ text::code(text="aws configure") }}
  command.
</p>

{{ text::note_block(text='
 Leave the $1 and $2
 blank since we set them as environment variables.'
  | replace(from="$1", to=text::emphasize(text="AWS Access Key ID"))
  | replace(from="$2", to=text::emphasize(text="AWS Secret Access Key"))
  ) }}

{{ text::code_block(
  header="cmd",
  language="text",
  code='aws configure

# output
AWS Access Key ID [None]:
AWS Secret Access Key [None]:
Default region name [None]: us-east-1
Default output format [None]: json'
) }}

<p>
  A {{ text::emphasize(text="config") }}
 file is created in the
  {{ text::emphasize(text="~/.aws/") }}
 directory
</p>
{{ text::code_block(
  header="file",
  language="ini",
  code='# ~/.aws/config

[default]
region = us-east-1
output = json'
) }}

<h3 id="usage">Usage</h3>
<p>
  Now that the AWS CLI is installed and setup for use you can begin using it. The
  basic command structure is {{ text::code(text="aws &lt;service&gt; [parameters ...]") }}.
</p>
<p>
  You can use the built in help to get more info on how to use a service.
</p>
{{ text::code_block(
  header="cmd",
  language="text",
  code='aws s3 help'
) }}

<p>
  Example sync of files from the local file system to S3.
</p>
{{ text::code_block(
  header="cmd",
  language="text",
  code='aws s3 sync &lt;LOCAL_FOLDER&gt/ s3://&lt;BUCKET_NAME&gt;'
) }}

<p>
  Detailed docs can be found
  {{ link::e(path="https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-using.html", description="here") }}.
</p>

<h3 id="outro">Outro</h3>
<p>
  The AWS CLI is a nice and handy way to interact with AWS. In some instances its the only
  way to interact with it. For example files larger the 160GB can only be uploaded to S3
  via the CLI.
</p>
{% endblock page_content %}