{% extends "_layouts/blog.jinja" %}

{% block page_content %}

<h3>Intro</h3>
<p>
 Have you ever read a great article and thought. 
 "That was interesting!" Then one day in the future you
 want to share said article with someone else and 
 cannot for the life of you find it?
</p>
<p>
  To fight that tyrany, I am keeping the links to interesting 
  articles I have read on a multitude of topics here. 
  Do with this page what you will.
</p>

<h3>DevOps</h3>
<p>
  {{ link::e(
    path="https://zwischenzugs.com/2022/08/08/who-should-write-the-terraform/",
    description="Who Should Write the Terraform?",
  ) }} 
  <br>
</p>


<h3>Encryption</h3>
<p>
  {{ link::e(
    path="https://arstechnica.com/tech-policy/2013/11/newegg-trial-crypto-legend-diffie-takes-the-stand-to-knock-out-patent/",
    description="Crypto legend takes the stand, goes for knockout patent punch",
  ) }}
  <br>
</p>

<h3>Health and Fitness</h3>
<p>
  {{ link::e(
    path="https://www.cyclingweekly.com/fitness/fitness-guide-how-to-improve-vo2-max-158328",
    description="VO2 max",
  ) }}
  <br>
</p>

<h3>Productivity</h3>
<p>
  {{ link::e(
    path="https://todoist.com/productivity-methods/pomodoro-technique",
    description="The Pomodoro Technique",
  ) }}
  <br>
</p>

<h3>Software</h3>
<p>
  {{ link::e(
  path="https://daedtech.com/how-developers-stop-learning-rise-of-the-expert-beginner/",
  description="How Developers Stop Learning",
  ) }}
  <br>
  {{ link::e(
    path="https://beej.us/guide/bgnet/html/",
    description="Beej's Guide to Network Programming",
  ) }}
  <br>
</p>

<h3>Systems</h3>
<p>
  {{ link::e(
    path="https://danluu.com/cli-complexity/",
    description="CLI Complexity",
  ) }}
  <br>
</p>

{% endblock page_content %}