{% extends "_layouts/blog.jinja" %}

{% block page_content %}
<h3 id="intro">Intro</h3>
<p>
  Most recently I have been building this site using the 
  {{ link::e(path="https://www.11ty.dev/", description="11ty") }}
  Static Site Generator. 11ty is fantastic, I totally recommend 
  checking it out.
</p>
<p>
  I swore to myself I would never re-write this 
  site in another framework after the last
  {{ link::i(path="/blog/coding-packets-the-11ty-edition/", description="rewrite") }}.
  when I moved from Rails to 11ty.
  Well, you know what they say about never saying never....
</p>
<p>
  This year I have been learning (and loving) Rust. To put what I am learning 
  to use, I decided to build a Static Site Generator named 
  {{ link::e(path="https://github.com/bwks/codingpackets-shazam", description="Shazam") }}
  and eat my own dogfood to build this site. This post documents that adventure.
</p>

{{ text::important_block(text="
  At this time, Shazam is in beta and not ready for human consumption.
")}}

<p>
  Before I go into the migration itself, here is an overview of the 
  components I am using the build the site.
</p>

<h3 id="tera">Tera</h3>
<p>
  {{ link::e(path="https://tera.netlify.app/docs/", description="Tera") }} is a 
  templating engine similar to Jinja, which made the migration from 
  the previous template engine I was using
  ({{ link::e(path="https://mozilla.github.io/nunjucks/templating.html", description="Nunjucks") }})
  pretty straight forward, with a minimal learning curve.
</p>

<h3 id="tailwind-css">Tailwind CSS</h3>
<p>
  I have been using 
  {{ link::e(path="https://getbootstrap.com/", description="Bootstrap CSS") }}
  for the sites that I build for a long time. I have wanted to give 
  {{ link::e(path="https://tailwindcss.com/", description="Tailwind CSS") }}
  a try for a while and this seemed 
  like the perfect opportunity. So, {{ link::i(path="/", description="codingpackets.com") }} 
  is now styled with Tailwind CSS.
</p>
<p>
  Tailwind has a different approach to Boostrap which takes a bit to get used to.
  Once you get your head around it, it's pretty rad. I found the docs to be excellent 
  and as long as you are using a reusable components feature it's plesent 
  to work with.
</p>
<p>
  I went through this awesome 
  {{ link::e(path="https://pragprog.com/titles/tailwind2/modern-css-with-tailwind-second-edition/", description="book") }}
  which helped me ramp up pretty quickly. It's short and presented in a way that makes 
  it easy to follow along and get familiar with the major pieces of the framework. 
</p>

<h3 id="highlight-js">Highlight JS</h3>
<p>
  I am continuing to use the fantastic  
  {{ link::e(path="https://highlightjs.org/", description="highlight.js") }}
  for syntax highlighting of code blocks. 
</p>

<h3 id="font-awesome">Font Awesome</h3>
<p>
  I still use  
  {{ link::e(path="https://fontawesome.com/icons", description="Font Awesome") }}
  icons for the few icons on the site. It has served me well for many years.
</p>

<h3 id="hosting">Hosting</h3>
<p>
  AWS using S3 and CloudFront is still my weapon of choice here.
</p>

<h3 id="migration">Migration</h3>
<p>
  I started by building out the site styling. I wanted it to look similar to 
  the existing site, but also polish it up at the same time.
  Since I moved from Bootstrap to Tailwind it took some time to get my head 
  around things and setup to a point I was happy to start migrating the content. 
  There was also lots of tweaking along the way and I am sure there will be more 
  in the future.
</p>
<p>
  At first, using Tailwind slowed me down alot, but once I became familiar it made 
  things really easy. Layout, Element positioning, Dark mode, all seemed alot easier with 
  Tailwind. Tailwind kind of forces you to use the reusable components features 
  of your language of choice. I created components for EVERYTHING which 
  payed off dividends as I moved through the migration and also into the future.
</p>
<p>
  Migrating the content took some time. I am pushing close to 300 posts on the site, 
  and it was a bit tedious to move them all across. It was mostly using 
  {{ text::emphasize(text="sed")}} and the {{ text::emphasize(text="vscode")}} 
  find and replace feature to get everything in the right format to 
  play nicely with Tera macro's which have a bit different syntax to 11ty.
</p>
<p>
  I also took the chance to add a content menu to all the posts, which is 
  something I have wanted to do for ages.
</p>
<p>
  So, how long did it take? I hear you ask.
</p>
<p>
  I started building Shazam on the 19th of October 2022.
  All in all, it took about a month to migrate the content over and I published 
  the New New New site in the 29th of November. Not bad considering I 
  am also operating Dadlife enterprises, working a full time job 
  and renovating my house, so could only work on this project in the gaps.
</p>

<h3 id="outro">Outro</h3>
<p>
  That's it! I hope you enjoy the new site. Feel free to reach out if you 
  have any questions about starting a blog using a Static Site Generator.
</p>

{% endblock page_content %}