{% extends "_layouts/blog.jinja" %}

{% block page_content %}

<h3 id="intro">Intro</h3>
<p>
  On Windows, I use the ZOC terminal for telnet/SSH session. 
  Naturally, I wanted to also use ZOC as the terminal for the EVE-NG 
  web console. So when you click on a node, it opens a tabbed session 
  in ZOC automatically. This was not so straight forward and I burned 
  alot of cycles trying to make it work. Hopefully, this post will save 
  future Brad some time and maybe even someone else too.
</p>

<h3 id="software-version-used">Software Version Used</h3>
<ul>
  <li>Firefox - 83.0</li>
  <li>EVE-NG Pro - 3.0.1-16</li>
  <li>ZOC - 8.01.2</li>
</ul>

<h3 id="before-we-begin">Before We Begin</h3>
{{ text::note_block(text='
    No amount of adding / changing registry settings worked. 
    Changing any is a waste of time.
') }}
<p>
  Once I had figured most of this out and I was trying to get 
  each session to open in a new tab in ZOC rather than it's 
  own ZOC window I came across this excellent post by
  {{ link::e(path="http://www.ccieordie.com/eve-zoc-tabs", description="ccie-or-die") }}.
  That outlined the process. I wish I had found it earlier as it 
  would have saved me a bunch of time.
</p>


<h3 id="firefox-settings">Firefox Settings</h3>
{{ text::note_block(text='
  To use your local host terminal program, 
  when you login to the web interface you need to select the 
  $1
  option.
</p>
') 
  | replace(from="$1", to=text::emphasize(text="Native Console"))
}}

<p>
  Once a node is started a telnet link is created for the 
  node {{ text::emphasize(text="telnet://x.x.x.x:y:yyyy") }}

</p>
<p>
  If you click on a node and there is no pop up 
  to ask how you want to open the type of link, do the following:
</p>
<p>
  At the browser bar type {{ text::emphasize(text="about:config") }}
 
  and press {{ text::kbd(text="ENTER") }}
. Then press the 
  {{ text::emphasize(text="Accept the Risk and Continue") }}
 button.
</p>

<p>
  type {{ text::emphasize(text="network.protocol-handler.expose.telnet") }}
 
  into the search box.
</p>

<p>
  If the value does not exist press the 
  {{ text::emphasize(text="+") }}
 button to add it and be sure to set it as 
  a {{ text::emphasize(text="boolean") }}
 type with the value to 
  {{ text::emphasize(text="false") }}

</p>
<p>
  Now restart Firefox and log back into the EVE-NG web interface. You should get 
  a popup asking you which program you want to use to open telnet links.
</p>
<p>
  Browse to the location of your ZOC intall, the default is:
  {{ text::emphasize(text="C:\\Program Files\ZOC8\zoc.exe") }}
 
  and select it.
</p>
<p>
  ZOC should now open when you click on node links in the EVE-NG web interface.
</p>

{{ text::note_block(text='
  I was originally getting a 
  $1
 error from 
  ZOC when clicking on links. I raised a case with ZOC and it was resolved 
  in version $2.
')
  | replace(from="$1", to=text::emphasize(text="EVP_CIPHER_CTX DLL"))
  | replace(from="$2", to=text::emphasize(text="8.01.2"))
 }}

<h3 id="zoc-tabs">ZOC Tabs</h3>
<p>
  Finally, to have each link open as a tab in ZOC add the following 
  content to a {{ text::emphasize(text="commandline.ini") }}

  file in the 
  {{ text::emphasize(text=`C:\Program Files\ZOC8\`) }}
 folder.
</p>

{{ text::code_block(
  header="file",
  language="ini",
  code='# C:\Program Files\ZOC8\commandline.ini

/TABBED'
) }}

<h3 id="outro">Outro</h3>
<p>
  Thats it! Thats the post! If you followed along you should now be able
  connect to your EVE-NG nodes via the web interface in a tabbed ZOC terminal 
  session.
</p>
{% endblock page_content %}
