{% extends "_layouts/blog.jinja" %}

{% block page_content %}

<h3 id="intro">Intro</h3>
<p>
  This is a record of the resources that I am/have used to learn 
  the Go programming language. This is mostly for my records but 
  other that venture down the Golang path may also find it useful. 
</p>

<h3 id="books">Books</h3>
<ul>
  <li>Get Programming with Go - Nathan Youngman / Roger Peppe</li>
  <li>Black Hat Go: Go Programming For Hackers and Pentesters - Tom Steele / Chris Patten / Dan Kottmann</li>
  <li>Go Programming Language - Alan Donovan / Brian Kernighan</li>
</ul>

<h3 id="video-courses">Video Courses</h3>
<ul>
  <li>Ultimate Go Programming, Second Edition (Safari) - William Kennedy</li>
  <li>Go: The Complete Developer's Guide (Udemy) - Stephen Grider</li>
  <li>Network Programming with Go (Safari) - Vladimir Vivien</li>
</ul>

<h3 id="blogs">Blogs</h3>
<ul>
  <li>
    {{ link::e(path="https://codesource.io/create-a-cli-in-golang-with-cobra/", description="Create a CLI app in Golang with Cobra") }}
  </li>
  <li>
    {{ link::e(path="https://www.alexedwards.net/blog/interfaces-explained", description="Interfaces in Golang explained") }}
  </li>

  
</ul>

<h3 id="tutorials">Tutorials</h3>
<ul>
  <li>
    {{ link::e(path="https://quii.gitbook.io/learn-go-with-tests/", description="Learn Go with Tests") }}
  </li>
  <li>
    {{ link::e(path="https://www.practical-go-lessons.com/", description="Practical Go Lessons") }}
  </li>
</ul>

<h3 id="best-practices">Best Practices</h3>
<ul>
  <li>
    {{ link::e(path="https://github.com/golang-standards/project-layout", description="Standards for project layout") }}
  </li>
  <li>
    {{ link::e(path="https://dave.cheney.net/2019/01/08/avoid-package-names-like-base-util-or-common", description="Package Naming") }}
  </li>
  <li>
    {{ link::e(path="https://tutorialedge.net/golang/go-project-structure-best-practices/", description="Packaging Best Practices") }}
  </li>
</ul>
<h3 id="usefull-links">Usefull Links</h3>
<ul>
  <li>
    {{ link::e(path="https://pkg.go.dev/", description="Searchable repository of Go packages") }}
  </li>
  <li>
    {{ link::e(path="https://gobyexample.com/", description="Quick codes examples") }}
  </li>
</ul>


<h3 id="outro">Outro</h3>
<p>
  Go and learn Golang or don't it's completely up to you.
</p>

{% endblock page_content %}