{% extends "_layouts/blog.jinja" %}

{% block page_content %}

<h3 id="intro">Intro</h3>
<p>
  Go has many built in types that are found in other 
  programming languages. It also supports the creation 
  of custom types.
</p>
<p>
  Each type has a default zero value that is used when 
  a variable is declared but not yet assigned a value.
</p>

<h4>Boolean</h4>
<p>
  Booleans are {{ text::emphasize(text="true") }}
 or 
  {{ text::emphasize(text="false") }}
 values. The 
  zero value for a boolean is {{ text::emphasize(text="false") }}
.
</p>
{{ text::code_block(
  header="go",
  language="go",
  code='// Declare a boolean with its zero value

var stuff bool // false

// Declare a boolean and set its value

things := true'
) }}

<h4>Integer</h4>
<p>
  Go supports a number of both of {{ text::emphasize(text="signed") }}
  and {{ text::emphasize(text="unsigned") }}
 integer types. They range in from one to four bytes in size.
</p>
<p>
  The default zero value for all integer types is 
  {{ text::emphasize(text="0") }}

</p>
<p>
  A {{ text::emphasize(text="byte") }}
  is an alias for {{ text::emphasize(text="uint8") }}. 
  In practice {{ text::emphasize(text="byte") }}
  is preferred over {{ text::emphasize(text="uint8") }}
</p>
<p>
  On a 32-bit CPU an {{ text::emphasize(text="int/uint") }}
  is an {{ text::emphasize(text="int32/uint32") }}. 
  On most 64-bit CPU's an {{ text::emphasize(text="int/uint") }}
  is an {{ text::emphasize(text="int64/uint64") }}
</p>
<p>
  The most common integer types are listed below.
</p>

{{ table::default(
  header=["Name", "Value Range"],
  rows=[
      "int8 | -128 to 127",
      "int16 | -32768 to 32767",
      "int32 | -2147483648 to 2147483647",
      "int64 | -9223372036854775808 to 9223372036854775807",
      "uint8 | 0 to 255",
      "uint16 | 0 to 65536",
      "uint32 | 0 to 4294967295",
      "uint64 | 0 to 18446744073709551615",
  ],
) }}

<h4>Float</h4>
<p>
  Go supports two types of floats; 
  {{ text::emphasize(text="float32") }}
 
  and   {{ text::emphasize(text="float64") }}
 
</p>
<p>
  The default zero value for a float is 
  {{ text::emphasize(text="0") }}

</p>
{{ text::note_block(text='
    A floating point number in Go cannot represent an exact 
    decimal value. They should not be used for anything that 
    requires exact decimal precision.
  </p>
')
}}

<h4>Strings</h4>
<p>
  Strings in Go are represented with the double quote 
  characters {{ text::emphasize(text='""') }}
.
</p>
<p>
  The default zero value for a string is an empty 
  string {{ text::emphasize(text='""') }}
.
</p>
<p>
  Strings in Go are immutable, once they are assigned the 
  value cannot be changed.
</p>

<h3 id="considerations">Considerations</h3>
<ul>
  <li>Go does not have any automatic type promotion/conversion</li>
  <li>If required, types must be explicitly converted</li>
  <li>There are no truthy/falsy values in Go</li>
</ul>

{% endblock page_content %}