{% extends "_layouts/blog.jinja" %}

{% block page_content %}

<h3 id="intro">Intro</h3>
<p>
  It's 2020 and the world is coming to an end. Everyone is in lock down
  due to some kind of killer bat virus. I have always wanted to grow a beard
  and seeing every one with their awesome lock down beards has inspired
  me to grow one of my own.
</p>

<h3 id="the-problem">The Problem</h3>
<p>
  I'll be 41 this year. I was blessed/cursed with the facial hair growing
  capacity of a 12 year old Lebanese boy. Some people may enjoy only having
  to shave once every 2 weeks. For me it's confirmation i'm a sissy and I
  deserve to be punished.
</p>
<p>
  Apparently the number 1 factor in growing a beard is "beard genetics",
  so that begs the question... How do you grow a beard when you are a
  genetic beard leper?
</p>

<h3 id="the-solution-maybe">The Solution (Maybe)</h3>
<p>
  In my research I found
  {{ link::e(path="https://beardresource.com/how-to-grow-a-beard-if-you-cant/", description="this") }}
  site. It has a lot of info and links to actual research so I decided to try
  follow the method and give it a shot. It's a rather lengthily article but was
  very informative. Feel free to go through the article for all the gory details.
</p>

<h3 id="the-products">The Products</h3>
<p>
  I am using the following products suggested in
  {{ link::e(path="https://beardresource.com/how-to-grow-a-beard-if-you-cant/", description="this") }}
  article along with their associated cost.
</p>
<ul>
  <li>Minoxidil - $39.50 (120ml)</li>
  <li>Jojoba oil - $24.00 (100ml)</li>
  <li>Peppermint oil - Free with jojoba oil (15ml)</li>
  <li>Carnitine $29.95 (60 x 500mg capsules)</li>
  <li>0.25, 0.5 and 1.0mm Derma Rollers - $23.98 (all 3 in pack)</li>
</ul>

<h3 id="the-process">The Process</h3>
<p>
  Again I am following the process outlined in
  {{ link::e(path="https://beardresource.com/how-to-grow-a-beard-if-you-cant/", description="this") }}
  article. Have a read trough it for a detailed explanation.
</p>
<p>
  <b>1)</b> Apply 1ml of minoxidil in the morning on the beard area.
</p>
{{ text::note_block(text="
    There is a warning note to NOT use minoxidil on parts of the body apart
    from the scalp and if you don't have a history of hair loss. BUT! Everyone
    knows that warnings are for beardless pussies.
") }}

<p>
  <b>2)</b> Apply jojoba oil and peppermint oil blend on the beard area in the
  afternoon and before bed. The blend consists of 28ml jojoba oil and 18 drops
  of peppermint oil mixed together.
</p>
{{ text::note_block(text="
    Peppermint oil is potent shit and it burns! Don't use it without first
    diluting it with jojoba oil.
") }}
<p>
  <b>3)</b> Take 3g of Carnitine per day. The study says to take 2g, but I take
  3g as part of my normal training routine so i'm sticking with that.
</p>
<p>
  <b>4)</b> Use 1.0mm Derma roller on Sunday night before bed. The article says
  to use a 0.75mm roller. I ordered a pack with a 1.0mm by mistake so I am
  using that instead.
</p>

{{ text::note_block(text="
    Don't use minoxidil for 24 hours after using the Derma roller.
") }}

<p>
  <b>5)</b> Keep a healthy diet and exercise often.
</p>


<h3 id="the-progress">The Progress</h3>
<p>
  I will post a monthly photo of the progress here. According to the
  {{ link::e(path="https://beardresource.com/how-to-grow-a-beard-if-you-cant/", description="site") }}
  it will take 3-12 months for the process to take effect. Check back to see
  the progress.
</p>

{{ text::note_block(text='
    The pictures below are taken with 1 week of growth.
') }}

<h5>2020-05-15</h5>
{{ image::boxed(path="blog/growing-a-beard/2020-05-15.jpg", width="400px") }}

<h5>2020-06-14</h5>
{{ image::boxed(path="blog/growing-a-beard/2020-06-14.jpg", width="400px") }}

<h5>2020-07-19</h5>
{{ image::boxed(path="blog/growing-a-beard/2020-07-19.jpg", width="950px") }}

<h5>2020-08-16</h5>
{{ image::boxed(path="blog/growing-a-beard/2020-08-16.jpg", width="950px") }}

<h5>2020-09-18</h5>
{{ image::boxed(path="blog/growing-a-beard/2020-09-18.jpg", width="950px") }}

{{ text::note_block(text='
    The below image is one month of growth. I am letting my "beard" grow 
    from this point onward.
') }}

<h5>2020-10-18</h5>
{{ image::boxed(path="blog/growing-a-beard/2020-10-18.jpg", width="950px") }}

<h5>2020-11-15</h5>
{{ image::boxed(path="blog/growing-a-beard/2020-11-15.jpg", width="950px") }}


{{ text::note_block(text='
    I decided to trim my bear to a number 2 each week as it was out of 
    control and patchy AF.
') }}
<h5>2020-12-19</h5>
{{ image::boxed(path="blog/growing-a-beard/2020-12-19.jpg", width="950px") }}

{{ text::note_block(text='
    I needed to trim my bear to a number 1 each week as I started a 
    customer facing role and it needs to look a bit neater than it 
    was.
') }}
<h5>2021-01-17</h5>
{{ image::boxed(path="blog/growing-a-beard/2021-01-17.jpg", width="950px") }}

<h5>2021-02-28</h5>
{{ image::boxed(path="blog/growing-a-beard/2021-02-28.jpg", width="950px") }}

<h5>2021-03-22</h5>
{{ image::boxed(path="blog/growing-a-beard/2021-03-22.jpg", width="950px") }}

<h5>2021-05-02</h5>
{{ image::boxed(path="blog/growing-a-beard/2021-05-02.jpg", width="950px") }}

<h5>2021-05-15</h5>
{{ image::boxed(path="blog/growing-a-beard/2021-05-15.jpg", width="950px") }}

<h5>2021-06-24</h5>
{{ image::boxed(path="blog/growing-a-beard/2021-06-24.jpg", width="950px") }}

<h5>2021-07-18</h5>
{{ image::boxed(path="blog/growing-a-beard/2021-07-18.jpg", width="950px") }}

<h5>2021-11-14</h5>
{{ image::boxed(path="blog/growing-a-beard/2021-11-14.jpg", width="950px") }}

<h5>2021-12-20</h5>
{{ image::boxed(path="blog/growing-a-beard/2021-12-20.jpg", width="950px") }}

<h5>2022-01-16</h5>
{{ image::boxed(path="blog/growing-a-beard/2022-01-16.jpg", width="950px") }}

<h5>2022-03-15</h5>
{{ image::boxed(path="blog/growing-a-beard/2022-03-15.jpg", width="950px") }}

<h5>2022-08-08</h5>
{{ image::boxed(path="blog/growing-a-beard/2022-08-08.jpg", width="950px") }}

<h5>2022-09-30</h5>
{{ image::boxed(path="blog/growing-a-beard/2022-09-30.jpg", width="950px") }}

<h5>2022-12-20</h5>
{{ image::boxed(path="blog/growing-a-beard/2022-12-20.jpg", width="950px") }}


{% endblock page_content %}