{% extends "_layouts/blog.jinja" %}

{% block page_content %}
  
  {% for category, posts in posts.by_category %}
    {% if category and category != "uncategorised" %}
      <div class="pb-4" id="{{ category | slugify }}">
        <div class="text-center bg-gray-900 border-4 border-gray-900 rounded-t-lg dark:bg-gray-800 dark:border-gray-800">
          <h3 class="text-2xl font-semibold text-neutral-400 dark:text-neutral-400">{{ category | slugify }}</h3>
        </div>
        {% for post in posts %}
          {% if post.publish %}
            <div class="py-2 px-4 border-4 border-gray-900 dark:border-gray-800 {% if not loop.last %}border-b-0 rounded-b-none{% else %}rounded-b-lg{% endif %}">
              <div class="">
                {% set title_slug = post.title | slugify %}
                {% set blog_path = blog_path ~ title_slug %}
                <span>{{ link::i(path=blog_path, description=post.title, text="text-2xl", weight="font-semibold", color="sky", color_weight="700", dark_color="gray", dark_color_weight="400") }}</span>
                <p class="font-medium text-xl">
                  {{ post.description }}
                </p>
              </div>

              {% include "_includes/dates.jinja" %}
              {{ text::tag_block(tags=post.tags) }}

            </div>
          {% endif %}
        {% endfor %}      
      </div>
    {% endif %}
  {% endfor %}

{% endblock page_content %}