{% extends "_layouts/blog.jinja" %}

{% block page_content %}

<h3 id="intro">Intro</h3>
<p>
  Recently, I was trying to reset the root password 
  on an EX2200. Following the normal process of entering 
  single user mode did not work. In this post I will cover 
  the workaround to reset the root password.
</p>

<h3 id="the-issue">The Issue</h3>
<p>
  On an {{ text::emphasize(text="EX2200/3200/3300/4200/4500/4550") }}
 
  running code version {{ text::emphasize(text="15.1R1 - 15.1R6") }}

  password recovery via entering {{ text::code(text="boot -s") }}
 
  from the loader prompt to enter single user mode results 
  in the switch booting from the alternate slice rather 
  than entering single user mode.
</p>

<h3 id="the-workaround">The Workaround</h3>
<p>
  This {{ link::e(path="https://community.juniper.net/communities/community-home/digestviewer/viewthread?MID=69662", description="post") }} 
  has the workaround. The steps are as follows:
</p>
<ul>
  <li>Press {{ text::kbd(text="CTRLC") }}
 + {{ text::kbd(text="C") }}
 to enter {{ text::emphasize(text="u-boot") }}
 mode.</li>
  <li>Remove the {{ text::emphasize(text="boot_unattended") }}
 environment variable.</li>
  <li>Boot the switch.</li>
  <li>Follow the normal password reset process found {{ link::e(path="https://kb.juniper.net/InfoCenter/index?page=content&id=KB14102", description="here.") }}</li>
</ul>

{{ text::code_block(
  header="cmd",
  language="text",
  code='U-Boot 1.1.6 (Feb  6 2008 - 11:27:42)

Board: EX4200-24F 2.20

EPLD:  Version 6.1 (0x85)

DRAM:  Initializing (1024 MB)

FLASH: 8 MB

USB:   scanning bus for devices... 2 USB Device(s) found <span class="hljs-string"># <<<<< Type Ctrl + C here</span>


=> <span class="hljs-string"># remove "boot_unattended" environment variable</span>


=> setenv boot_unattended

<span class="hljs-string"># Issue "boot" command, get into "loader>"</span>


=> boot <span class="hljs-string"># Follow the normal password reset process</span>
'
) }}

<h3 id="outro">Outro</h3>
<p>
  In this post, I covered the process of resetting 
  the root password on a Juniper EX switch running code 
  version 15.1R1 - 15.1R6. Thanks @python and future 
  Brad, you are welcome.
</p>

{% endblock page_content %}