{% extends "_layouts/blog.jinja" %}

{% block page_content %}
<p>
  Hell has {{ link::e(path="http://historylists.org/art/9-circles-of-hell-dantes-inferno.html", description="nine layers") }}
  .... so does the OSI model. I know, I know, you have been taught that
  the OSI model has seven layers. See the illustration below for the proof.
</p>

{{ image::boxed(path="blog/network-osi-reference/osi-reference-model.svg", height="100%") }}

{% endblock page_content %}