{% extends "_layouts/blog.jinja" %}
{% block page_content %}

<h3 id="intro">Intro</h3>
<p>
  My number one certification goal for 2021 is the PCNSA 10 
  certification. I require it for my new role so I am getting 
  stuck right in.
</p>
<p>
  In this post I will document the resources and links to my 
  personal notes for the PCNSA 10 certification.
</p>
<p>
  I will update this document as I go up until I have passed the 
  certification.
</p>

<h3 id="books">Books</h3>

{{ table::default(
  header=["Title", "Author(s)"],
  rows=[
    "Palo Alto Networks Certified Network Security Administrator Study Guide | Unknown",
    "Mastering Palo Alto Networks - Packt Pub | Tom Piens",
  ],
) }}


<h3 id="videos">Videos</h3>

{{ table::default(
  header=["Title", "Author(s)"],
  rows=[
    "Mastering Palo Alto Networks (Video) - Packt Pub | Rene Cardona",
    "Mastering Palo Alto Networks (Code in action) - Packt Pub | Tom Piens",
    "Palo Alto Networks Certified Network Security Administrator (PCNSA): Exam Preparation Best Practices and Training - Palo Alto Beacon | Global Enablement Technical Training",
  ],
) }}


<h3 id="practice-tests">Practice Tests</h3>
<p>
  Palo Alto provides practice tests in their learning centre.
</p>

<h3 id="palo-alto-docs">Palo Alto Docs</h3>
<p>
</p>

<h3 id="labs">Labs</h3>
<p>
</p>

<h3 id="time-budget">Time Budget</h3>
<p>
</p>

<h3 id="study-notes">Study Notes</h3>
<p>
</p>

<h3 id="outro">Outro</h3>
<p>
</p>
{% endblock page_content %}