{% extends "_layouts/blog.jinja" %}

{% block page_header %}
  {{ text::header(heading="Recent Blogs", published_date="", updated_date="") }}
{% endblock page_header %}

{% block page_content %}
  <div class="text-center">
    {% set_global count = 0 %}
    {% for post in posts.all %}
      {% if post.publish and count < 10 %}
        <div class="pb-4">
          <div class="block py-2 px-4 shadow-lg border-4 rounded-lg border-gray-900 dark:border-gray-800">
            <div class="">
              {% set title_slug = post.title | slugify %}
              {% set blog_path = blog_path ~ title_slug %}
              <span>{{ link::i(path=blog_path, description=post.title, text="text-2xl", weight="font-semibold", color="gray", color_weight="600", dark_color="gray", dark_color_weight="400") }}</span>
              <p class="font-medium text-xl text-justify">
                {% for post_title, content in posts.content %}
                  {% if post.title | slugify == post_title %}
                    {% set array = content | split(pat="<!-- COLUMN 2 START -->") %}
                    {{ array[1] | spaceless | striptags | replace(from="Intro", to="") | truncate(length=500) }}
                    <i>{{ link::i(path=blog_path, description="continue reading") }}</i>
                  {% endif %}
                {% endfor %}
              </p>
            </div>
            {% include "_includes/dates.jinja" %}
            <div class="">
              {{ text::tag_block(tags=post.tags, center=true) }}
            </div>
          </div>
        </div>
        {% set_global count = count + 1 %}
      {% endif %}
    {% endfor %}      
  </div>
  <div class="pb-2 text-center">
    <p>
      Looking for more? Browse posts by 
      {{ link::i(path="/blog/", description="category") }} or
      {{ link::i(path="/blog/tag/", description="tag") }}
      or search the blog
      {{ link::i(path="/blog/archive/", description="archives") }}.
    </p>
  </div>
{% endblock page_content %}

{% block blank_page %}
  {{ spacer::blank_page() }}
{% endblock blank_page %}

{% block page_toc %}
{% endblock page_toc %}