{% extends "_layouts/blog.jinja" %}

{% block page_header %}
  {{ text::header(heading="Recent Blogs", published_date="", updated_date="") }}
{% endblock page_header %}

{% block page_content %}
  <div class="">
    {% set_global count = 0 %}
    {% for post in posts.all %}
      {% if post.publish and count < 10 %}
        <div class="pb-2">
          <div class="block py-2 px-4 shadow-lg border-4 rounded-lg border-zinc-900">
            <div class="">
              <a class="text-sky-600 font-semibold text-2xl no-underline hover:text-sky-800" href="/blog/{{ post.title | slugify }}">{{ post.title | title_case }}</a>
              <p class="font-medium text-xl">
                {{ post.description }}
              </p>
            </div>
            {% include "_includes/dates.jinja" %}
            <div class="">
              {{ text::tag_block(tags=post.tags) }}
            </div>
          </div>
        </div>
        {% set_global count = count + 1 %}
      {% endif %}
    {% endfor %}      
  </div>
  <div class="pb-2">
    <p>
      Looking for more? Browse posts by 
      {{ link::i(path="/blog/", description="category") }} or
      {{ link::i(path="/blog/tag/", description="tag") }}
      or search the blog
      {{ link::i(path="/blog/archive/", description="archives") }}.
    </p>
  </div>
{% endblock page_content %}

{% block blank_page %}
  {{ spacer::blank_page() }}
{% endblock blank_page %}

{% block page_toc %}
{% endblock page_toc %}