{% extends "_layouts/blog.jinja" %}

{% block page_content %}

<h3 id="prelude">Prelude</h3>
<p>
  This post is a collection of links to resources that I have found 
  useful for the Rust programming language.
</p>

<h3 id="blogs">Blogs</h3>
<ul>
  <li>
    {{ link::e(
        path="https://blog.logrocket.com/a-practical-guide-to-async-in-rust/", 
        description="A practical guide to async in Rust by Carl Fredrik Samson"
    ) }}
  </li>
  <li>
    {{ link::e(
        path="https://www.fpcomplete.com/blog/http-status-codes-async-rust/", 
        description="HTTP status codes with async Rust by Michael Snoyman"
    ) }}
  </li>
  <li>
    {{ link::e(
        path="https://cliffle.com/blog/rust-mutexes/", 
        description="Rust Mutexes by Cliff L. Biffle"
    ) }}
  </li>
  <li>
    {{ link::e(
        path="https://github.com/pretzelhammer/rust-blog/blob/master/posts/common-rust-lifetime-misconceptions.md", 
        description="Common Rust Lifetime Misconceptions by pretzelhammer et all"
    ) }}
  </li>
  <li>
    {{ link::e(
        path="https://www.qovery.com/blog/a-guided-tour-of-streams-in-rust", 
        description="A Guided Tour of Streams in Rust by Romain Gérard"
    ) }}
  </li>
</ul>

<h3 id="books">Books</h3>
<ul>
  <li>
    {{ link::e(
        path="https://www.manning.com/books/rust-in-action", 
        description="Rust in Action by Tim McNamara"
    ) }}
  </li>
  <li>
    {{ link::e(
        path="https://danielkeep.github.io/tlborm/book/README.html", 
        description="The Little Book of Rust Macros by Daniel Keep"
    ) }}
  </li>
  <li>
    {{ link::e(
      path="https://marabos.nl/atomics/", 
      description="Rust Atomics and Locks by Mara Bos"
    ) }}
  </li>
</ul>

<h3 id="coding-style">Coding Style</h3>
<ul>
  <li>
    {{ link::e(
        path="https://rust-lang.github.io/rust-clippy/master/", 
        description="Clippy Lint Rules"
    ) }}
  </li>
  <li>
    {{ link::e(
        path="https://rust-unofficial.github.io/patterns/intro.html", 
        description="Rust Design Patterns"
    ) }}
  </li>
</ul>

<h3 id="coding-practice">Coding Practice</h3>
<ul>
  <li>
    {{ link::e(path="https://protohackers.com/problems", description="Practice Coding Servers for Network Protocols") }}
  </li>
  <li>
    {{ link::e(path="https://app.codecrafters.io/tracks/rust", description="Master Rust by ReBuilding Complex Software") }}
  </li>
</ul>


<h3 id="documentation">Documentation</h3>
<ul>
  <li>
    {{ link::e(
        path="https://docs.rs/", 
        description="Rust Libraries Docs"
    ) }}
  </li>
  <li>
    {{ link::e(
        path="https://doc.rust-lang.org/stable/rust-by-example/index.html", 
        description="Rust by Example"
    ) }}
  </li>
</ul>

<h3 id="repositories">Repositories</h3>
<ul>
  <li>
    {{ link::e(
        path="https://crates.io/", 
        description="Rust Crates Repository"
    ) }}
  </li>
  <li>
    {{ link::e(
        path="https://github.com/rust-unofficial/awesome-rust", 
        description="Awesome Rust list"
    ) }}
  </li>
</ul>

<h3 id="talks">Talks</h3>
<ul>
  <li>
    {{ link::e(
        path="https://www.youtube.com/watch?v=rAF8mLI0naQ", 
        description="RustConf 2020 - Error handling Isn't All About Errors by Jane Lusby"
    ) }}
  </li>
  <li>
    {{ link::e(
        path="https://www.youtube.com/watch?v=DEE1GKMbtgw", 
        description="Rust Linz, September 2022 - Boxes, Heaps, and Stacks by Tim McNamara"
    ) }}
  </li>
</ul>

<h3 id="video-tutorials">Video Tutorials</h3>
<ul>
  <li>
    {{ link::e(
        path="https://www.udemy.com/course/ultimate-rust-crash-course/", 
        description="Ultimate Rust Crash Course by Nathan Stocks"
    ) }}
  </li>
  <li>
    {{ link::e(
        path="https://www.udemy.com/course/ultimate-rust-2/", 
        description="Ultimate Rust 2: Intermediate Concepts by Nathan Stocks"
    ) }}
  </li>
  <li>
    {{ link::e(
        path="https://www.youtube.com/playlist?list=PLrmY5pVcnuE_SQSzGPWUJrf9Yo-YNeBYs", 
        description="Improve your Rust skills by making an ECS library by Brooks Builds"
    ) }}
  </li>
</ul>

<h3 id="written-tutorials">Written Tutorials</h3>
<ul>
  <li>
    {{ link::e(
        path="https://tokio.rs/tokio/tutorial", 
        description="Tokio async tutorial"
    ) }}
  </li>
</ul>


<h3 id="drop">drop(_)</h3>
<p>
  Learn Rust, it's fn.
</p>
{% endblock page_content %}