{% extends "_layouts/blog.jinja" %}

{% block page_header %}
    {{ text::header(heading="Blogs by Tag", published_date="", updated_date="") }}
{% endblock page_header %}

{% block page_content %}
  <div class="">
    {% set_global published_post_tags = [] %}
    {% for tag in posts.tags | sort %}
      
      {% for post_tag, posts in posts.by_tag %}
        
        {% set_global published_posts = [] %}
        {% for post in posts %}
          {% if post.publish and post_tag == tag %}
            {% set_global published_post_tags = published_post_tags | concat(with=tag) %}
            {% set_global published_posts = published_posts | concat(with=post) %}
          {% endif %}
        {% endfor %}

        {% if post_tag == tag and published_posts | length > 0 %}
          <div class="pb-4">
            <div class="text-center bg-gray-900 border-4 border-gray-900 rounded-t-lg dark:bg-gray-800 dark:border-gray-800">
              <h3 id="{{ tag | slugify }}" class="text-2xl font-semibold text-neutral-400 dark:text-neutral-400">{{ tag | slugify }} - {{ published_posts | length }} {% if published_posts | length < 2 %}Post{% else %}Posts{% endif %}</h3>
            </div>
            <div class="font-medium text-xl border-4 rounded-b-lg border-gray-900 dark:border-gray-800">
              {% for post in published_posts %}
                {% set title_slug = post.title | slugify %}
                {% set blog_path = blog_path ~ title_slug %}
                <div class="flex flex-row px-4 {% if published_posts | length == 1 %}py-2{% elif loop.first %}pt-2 pb-1{% elif loop.last %}pt-1 pb-2{% else %}py-1{% endif %}">
                  <div class="flex-none w-32">
                    {{ post.published_date }}
                  </div>
                  <div class="">
                    {{ link::i(path=blog_path, description=post.title, text="text-xl", color="sky", color_weight="700", dark_color="gray", dark_color_weight="400") }}
                  </div>                
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
{% endblock page_content %}

{% block page_toc %} 
  {% set_global published_post_tags = published_post_tags | unique %}
  {{ table::toc(header="Tags", rows=published_post_tags, slug=true) }}
{% endblock page_toc %}