{% extends "layouts/blog.jinja" %}

{% block page_content %}
<h3>Intro</h3>
<p>
  Writing down what I want to achieve helps me stay focused and keeps me from
  getting distracted by all the shinny things in the world.
</p>

<h3>2019 Goals</h3>
<ul>
  <li>Loose 20kgs</li>
  <li>Family</li>
  <li>Read 20 non-technical books</li>
  <li>JNCIX SP</li>
  <li>Azure solution architect</li>
  <li>One post a week</li>
  <li>Move to rails</li>
</ul>

<h4><b>Loose 20kgs</b></h4>
<p>
  Over the last 10 years I have developed a serious case of fatbastarditis.
  This is the year I start to focus on my health again. Starting weight 89.9kgs.
</p>

<h4><b>Family</b></h4>
<p>
  I will be making more of an effort to spend quality time with my family.
  Work/Career goals have gotten in the way of that in the past decade and
  its time for that to stop happening.
</p>

<h4><b>Read 20 Non-Technical Books</b></h4>
<p>
  In 2018 I started reading to my son (who is 4) at night. We read quite a lot
  of books (notably the Harry Potter books 1-6) and I realised that I forgot
  how much I love reading. To say I read a lot of technical material (books,
  blogs, white papers, etc...) would be a tremendous understatement.
  This year I want to read at least 20 non-technical books (1 every 2 weeks approx.)
</p>

<h4><b>JNCIX SP</b></h4>
<p>
  Networking is still valuable in the programmatic world we live in. I dont think
  certs are all that important but I want to focus on Networking again this year and
  moving through a cert track is a good way to do it. I would like to get to
  the IP level time permitting.
</p>

<h4><b>Azure Solution Architect</b></h4>
<p>
  Get Azure solutions architect certified. Cloud is not going away and Azure is
  IMO going to be the most utilized cloud by enterprises. Its also very nice to
  work with which is another reason I want to focus on Azure.
</p>

<h4><b>One Post A Week</b></h4>
<p>
  I want to average one post a week on
  {{ link::i(
    path="https://codingpackets.com",
    description="codingpackets.com"
  ) }}
  This will be a combination
  of blog posts and study notes. Sometimes more, sometimes less, but 52+ come
  December 31 2019.
</p>

<h4><b>Move To Rails</b></h4>
<p>
  Ruby on rails is an awesome web framework. I want to move
    {{ link::i(
    path="https://codingpackets.com",
    description="codingpackets.com"
  ) }}
  is currently built on Django to Rails. This will be a bit of a slow process and
  will likely take a few months working on it here and there.
</p>

<h3>Outro</h3>
<p>
  I'll update this post throughout the year with my progress.
  It's 5:30am so im off to work on goal #1.
</p>


{% endblock page_content %}