{% extends "layouts/site.jinja" %}

{% block page_header %}
  {% if post %}
    {{ text::header(heading=post.title, published_date="", updated_date="") }}
  {% endif %}
{% endblock page_header %}


{% block page_content %}
  <div class="">
    {% for year in posts.years | sort | reverse %}
      
      {% for post_year, posts in posts.by_year %}
        
        {% set_global published_posts = [] %}
        {% for post in posts %}
          {% if post.publish and post_year | int == year %}
            {% set_global published_posts = published_posts | concat(with=post) %}
          {% endif %}
        {% endfor %}

        {% if post_year | int == year and year != 0 %}
          <div class="pb-4">
            <div class="text-center bg-zinc-900 border-4 border-zinc-900 rounded-t-lg">
              <h3 class="pt-0 pb-1 text-2xl font-normal text-neutral-100 dark:text-neutral-400">{{ year }} - {{ published_posts | length }} {% if published_posts | length < 2 %}Post{% else %}Posts{% endif %}</h3>
            </div>
            <div class="block py-2 px-4 shadow-lg border-4 rounded-b-lg border-zinc-900">
              {% for post in published_posts %}
                <div class="font-medium text-xl">
                  {{ post.published_date }} &nbsp; 
                  <a class="text-sky-600 text-2xl no-underline hover:text-sky-800" href="/blog/{{ post.title | slugify }}">{{ post.title | title_case }}</a>
                </div>
              {% endfor %}   
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
{% endblock page_content %}

{% block page_tags %}
  {% if post %}
    {{ text::tag_block(tags=post.tags) }}
  {% endif %}
{% endblock page_tags %}

{% block page_toc %}
{% endblock page_toc %}