{% extends "layouts/blog.jinja" %}

{% block page_content %}

<h3>Intro</h3>
<p>
  I was recently working with a customer to configure Azure AD 
  as the SAML provider for their ExtraHop appliances. Although 
  the process is pretty well documented in the ExtraHop docs, 
  it is spread out in a few locations and there are a couple of 
  gotchas we ran into. 
</p>
<p>
  In this post, I will show you the process to configure your 
  ExtraHop appliances for SAML authentication using Azure AD as 
  the Identity Provider (IdP).
</p>

<h3>Software</h3>
<p>
  The following software was used in this post.
</p>
<ul>
  <li>ExtraHop Sensor (EDA) - 8.9.0</li>
</ul>

<h3>SAML Terminology</h3>
<p>
  Some important terminology to be aware about SAML is as follows.
</p>

<ul>
  <li>Identity Provider (IdP) - Authenticates users and provides user identity</li>
  <li>Service Privider (SP) - Provides authorized access to resources based on identity from the IdP</li>
  <li>Claim - Information about the user.</li>
  <li>Token - Group of claims.</li>
</ul>

<h3>SAML Login Flow</h3>
<p>
  The image below is directly from the Microsoft 
    {{ link::e(
    path="https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/auth-saml", 
    description="docs")
  }} <sup>[1]</sup>
</p>


{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/saml-login-flow.png", 
  width="600px"
) }}

<h3>IdP SAML Requirements</h3>
<p>
  In order for ExtraHop to use an IdP SAML authentication, the IdP must meet 
  the following requirements.
</p>

<h4>SAML 2.0 Compliant</h4>
<p>
  The IdP MUST support the SAML 2.0 standard
</p>

<h4>SP-initiated login flows</h4>
<p>
  The IdP MUST support SP-initiated login flows. IdP initiated login flows are NOT supported.
</p>

<h4>Signed SAML Responses</h4>
<p>
  The IdP MUST support signed SAML responses. Unsigned SAML responses are NOT supported.
</p>

<h3>Prerequisites</h3>
<p>
  There are a couple of items to square away in both ExtraHop and Azure before we begin.
</p>

<h4>ExtraHop</h4>
<p>
  Update the hostname to the FQDN and re-generate the SSL certificate.
  This ensures that we have the correct 
  {{ text::emphasize(text="ACS URL") }} in the SP Metadata configuration.
</p>
<h5>Hostname</h5>
<p>
  On the {{ text::emphasize(text="Admin") }} panel, 
  browse to:
</p>


{{ text::breadcrumbs(items=[
  "Admin",
  "Connectivity",
  "Change Settings",
]) }}

<p>
  Update the hostname to the FQDN and hit {{ text::emphasize(text="Save") }}.
</p>

<h5>SSL Certificate</h5>
<p>
  Browse to: 
  {{ text::emphasize(text="Admin") }} panel.
</p>

{{ text::breadcrumbs(items=[
  "Admin",
  "SSL Certificate",
  "Manage Certificates",
  "Build SSL self-signed certificate based on hostname",
]) }}

<p>
  Hit {{ text::emphasize(text="OK") }} on the prompt that asks 
  if you would like to regenerate the certificate.
</p>

{{ text::note_block(text='
    The web interface will restart at this step, but this does not effect 
    the capture process so data will continue to be ingested and analyzed. 
') }}

<h4>Azure</h4>
<p>
  Add the Azure AD SAML ExtraHop application to enable SAML based authentication. 
</p>

<h5>SAML Application</h5>
<p>
  In the Azure Portal browse to:
</p>

{{ text::breadcrumbs(items=[
  "Azure Active Directory",
  "Enterprise applications",
  "New application",
]) }}

<p>
  Search for {{ text::emphasize(text="Azure AD SAML Toolkit") }} 
  in the search bar. Select the application and rename it to 
  {{ text::emphasize(text="Azure AD SAML ExtraHop") }}
   then hit {{ text::emphasize(text="Create") }}
</p>

{{ text::note_block(text='
    This post assumes that the Users/Groups are already created in Azure or 
    synced to Azure from on-prem AD.  
') }}

<h3>SAML Configuration</h3>
<h4>ExtraHop - SP Metadata</h4>
<p>
  To complete the Azure side we need to SP metadata from the ExtraHop appliance.
  On the ExtraHop admin portal, browse to:
</p>

{{ text::breadcrumbs(items=[
  "Admin",
  "Remote Authentication",
]) }}

<p>
  Select {{ text::emphasize(text="SAML") }} from 
  the dropdown and hit {{ text::emphasize(text="Continue") }}.
</p>
<p>
  On the next screen select {{ text::emphasize(text="View SP Metadata") }}.
  You will need to note down the
  {{ text::emphasize(text="ACS URL") }}
  and the 
  {{ text::emphasize(text="Entity ID") }}.
</p>

{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/sp-metadata.png", 
  width="600px"
) }}

<p>
  Once you have that information browse to the SAML application 
  in Azure AD to complete the configuration on the Azure side.
</p>

{{ text::breadcrumbs(items=[
  "Azure Active Directory",
  "Enterprise applications",
  "Azure AD SAML",
  "Single sign-on",
]) }}

<p>
  There are 3 steps to complete.
</p>
<ul>
  <li>Basic SAML Configuration</li>
  <li>Attributes & Claims</li>
  <li>SAML Certificates</li>
</ul>

<h4>Azure - Basic SAML Configuration</h4>

{{ text::breadcrumbs(items=[
  "Azure Active Directory",
  "Enterprise applications",
  "Azure AD SAML",
  "Single sign-on",
  "Basic SAML Configuration",
  "Edit",
]) }}

<p>
  The table below lists the parameters and values that are required 
  for the SAML configuration. The parameters are obtained from the 
  ExtraHop SP metadata in the previous step.
</p>

{{ table::default(
  header=["Parameter", "Value"],
  rows=[
    "Identifier (Entity ID) | urn:extrahop:saml:&lt;entity-id-string&gt",
    "Reply URL (Assertion Consumer Service URL) | https://&lt;extrahop-fqdn&gt/admin/sso/saml/acs/",
    "Sign on URL | https://&lt;extrahop-fqdn&gt/",
  ],
) }}

<p>
  The image below shows an example configuration.
</p>

{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/azure-saml-1.png", 
  width="600px"
) }}


<h4>Azure - Attributes & Claims</h4>

{{ text::breadcrumbs(items=[
  "Azure Active Directory",
  "Enterprise applications",
  "Azure AD SAML",
  "Single sign-on",
  "Attributes & Claims",
  "Edit",
]) }}
<p>
  The tables below list the parameters and values that are required 
  for the SAML attributes and claims configuration.
</p>
<h5>Required Claims - UUID</h5>

  <p>
    The first claim is used as a unique identifier for users 
    within the ExtraHop platform.  
  </p>

{{ table::default(
  header=["Claim Name", "Value"],
  rows=[
    "Unique User Identifier (Name ID) | user.userprincipalname",
  ],
) }}


<h5>Additional Claims - Identity</h5>
<p>
  These next three claims are required by the ExtraHop 
  platform. They MUST be sent in the SAML response or 
  authorization will fail.
</p>


{{ table::default(
  header=["Claim Name", "Value"],
  rows=[
    "urn:oid:0.9.2342.19200300.100.1.3 | user.userprincipalname",
    "urn:oid:2.5.4.42 | user.givenname",
    "urn:oid:2.5.4.4 | user.surname",
  ],
) }}


<h5>Additional Claims - Authorization</h5>
<p>
  These next set of claims define the authorization groups.
</p>
{{ text::note_block(text='
    For the authorization claims, both the claim name and value can be 
    any user defined value. However, these names and values MUST exactly 
    match what is configured in the ExtraHop SAML configuration.
') }}

{{ table::default(
  header=["Claim Name", "Value"],
  rows=[
    "user-level | Multiple Conditions",
    "packets-level | Multiple Conditions",
    "detections-level | Multiple Conditions",
  ],
) }}


<p>
  The multiple conditions for the authorization claims are as follows.
</p>

<h5>Claim Name: {{ text::emphasize(text="user-level") }}</h5>


{{ table::default(
  header=["User Type", "Scoped Groups", "Source", "Value" ],
  rows=[
    "Any | List of User Groups | Attribute | read-only",
    "Any | List of User Groups | Attribute | full-write",
    "Any | List of User Groups | Attribute | unlimited",
  ],
) }}


<h5>Claim Name: {{ text::emphasize(text="packets-level") }}</h5>

{{ table::default(
  header=["User Type", "Scoped Groups", "Source", "Value" ],
  rows=[
    "Any | List of User Groups | Attribute | full-write",
    "Any | List of User Groups | Attribute | unlimited",
  ],
) }}

<h5>Claim Name: {{ text::emphasize(text="detections-level") }}</h5>
{{ table::default(
  header=["User Type", "Scoped Groups", "Source", "Value" ],
  rows=[
    "Any | List of User Groups | Attribute | unlimited",
  ],
) }}

{{ text::important_block(text='
    The ordering of the conditions within a claim is important. 
    The LAST condition that is matched will be sent in the SAML response.
    For example, in the $1 claim, if a user is a member of a $2 in both the 
    $3 and $4 claims, the user will be granted $4 privileges.
') | replace(from='$1', to=text::emphasize(text="user-level"))
   | replace(from='$2', to=text::emphasize(text="scoped group"))
   | replace(from='$3', to=text::emphasize(text="full-write"))
   | replace(from='$4', to=text::emphasize(text="unlimited")
) }}

<p>
  The image below shows all the attributes and claims from the tables above.
</p>

{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/claims-1.png", 
  width="600px"
) }}

<p>
  The image below shows the detailed view of the 
  {{ text::emphasize(text="user-level") }} claim.
  The other claims are configured in a similar manner.
</p>
{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/claims-2.png", 
  width="600px"
) }}

<h4>Azure - SAML Signing Certificate</h4>

{{ text::breadcrumbs(items=[
  "Azure Active Directory",
  "Enterprise applications",
  "Azure AD SAML",
  "Single sign-on",
  "SAML Signing Certificate",
  "Edit",
]) }}

<p>
  By default, the SAML application in Azure AD does not sign SAML responses.
  Change the {{ text::emphasize(text="Signing Option") }}
  dropdown to {{ text::emphasize(text="Sign SAML response and assertion") }}.  
</p>

{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/saml-cert-config-1.png", 
  width="600px"
) }}

{{ text::important_block(text='
    The IdP MUST support signed SAML responses to be compatible 
    with the ExtraHop platform.
') }}

<p>
  Download the SAML certificate: {{ text::emphasize(text=" Certificate (Base64)") }}. 
  This will be used in the ExtraHop SAML configuration in a future step.  
</p>

{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/saml-cert-config-2.png", 
  width="600px"
) }}

<h4>Azure - Set up Azure AD SAML ExtraHop</h4>

{{ text::breadcrumbs(items=[
  "Azure Active Directory",
  "Enterprise applications",
  "Azure AD SAML",
  "Single sign-on",
  "Set up Azure AD SAML ExtraHop",
]) }}


<p>
  The details in the image below are required for the ExtraHop configuration.
</p>
{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/saml-sp-config-params-1.png", 
  width="600px"
) }}

<h4>ExtraHop - IdP SAML Configuration</h4>
<p>
  The table below shows how the parameters in the Azure configuration map to the 
  parameters in the ExtraHop configuration.
</p>

{{ table::default(
  header=["Azure Value", "ExtraHop Value"],
  rows=[
    "Login URL | SSO URL",
    "Azure AD Identifier | Entity ID",
  ],
) }}

<p>
  On the ExtraHop appliance, browse to the SAML configuration and 
  add an identity provider.
</p>

{{ text::breadcrumbs(items=[
  "Admin",
  "Remote Authentication",
  "SAML",
  "Continue",
  "Add Identity Provider",
]) }}

<h5>Identity Provider</h5>
<p>
  The table below list the configuration parameters for the 
  identity provider section.
</p>

{{ table::default(
  header=["Parameter", "Value"],
  rows=[
    "Provider Name | AzureAD",
    "Entity ID | &lt;Azure AD Identifier&gt;",
    "SSO URL | &lt;Azure Login URL&gt;",
    "Public Certifiate | &lt;Azure BASE 64 certificate&gt;",
    "Auto-provision users | <i class='fas fa-check-square'></i>",
    "Enable this identity provider | <i class='fas fa-check-square'></i>",
  ],
) }}

{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/eh-identity-provider-config-1.png", 
  width="600px"
) }}


<p>
  The certificate MUST be in the following format to be valid.
</p>
{{ text::code_block(
  header="x509 certificate",
  language="text",
  code='-----BEGIN CERTIFICATE-----<br>
&lt;BASE64 ENCODING&gt;<br>
-----END CERTIFICATE-----<br>'
) }}

<h5>Privilege Levels</h5>
<p>
  Details around the user privilege levels and what they allow 
  access to in the ExtraHop platform can be found in the docs 
  {{ link::e(
    path="https://docs.extrahop.com/current/users-overview/#user-privileges", 
    description="here")
  }}. How these group mappings are decided is based on the organizations 
  security policy.
</p>

<p>
  The next 3 sections MUST exactly match what is configured in the SAML 
  claims seciton in Azure.
</p>

<h5>User Privilege Attributes</h5>
<p>
  The following table lists the permissions mappings 
  for the {{ text::emphasize(text="user-level") }} 
  attribute.
</p>

{{ table::default(
  header=["ExtraHop Privilege Level", "SAML Claim"],
  rows=[
    "Unlimited privileges | unlimited",
    "Full write privileges | full-write",
    "Full read-only privileges | read-only",
  ],
) }}



{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/eh-identity-provider-config-2.png", 
  width="600px"
) }}

<h5>Packets and Session Keys</h5>
<p>
  The following table lists the permissions mappings 
  for the {{ text::emphasize(text="packets-level") }} 
  attribute.
</p>

{{ table::default(
  header=["ExtraHop Privilege Level", "SAML Claim"],
  rows=[
    "Packets and session keys | unlimited",
  ],
) }}

{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/eh-identity-provider-config-3.png", 
  width="600px"
) }}

<h5>Detections Access</h5>
<p>
  The following table lists the permissions mappings 
  for the {{ text::emphasize(text="detections-level") }} 
  attribute.
</p>

{{ table::default(
  header=["ExtraHop Privilege Level", "SAML Claim"],
  rows=[
    "All detections | unlimited",
  ],
) }}

{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/eh-identity-provider-config-4.png", 
  width="600px"
) }}

<p>
  Finally, hit the {{ text::emphasize(text="Save") }} button
  to complete the configuration. 
</p>
<p>
  With that done, the configuration is completed, and we can now test our ability 
  to login and access the ExtraHop platform.
</p>

<h3>Testing Access</h3>
{{ text::tip_block(text=`
  You can use the text::emphasize(text="SAML Tracer") Firefox/Chrome plugin to monitor the flow of requests 
  to and from the IdP. I recommend you install it and open its debug window 
  prior to loggin in.`) }}

<p>
  To test your access, open a private browser window to your ExtraHop appliance.
  You will see an option to login with 
  {{ text::emphasize(text="AzureAD") }}
</p>

{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/eh-saml-login.png", 
  width="400px"
) }}

<p>
  When you press the {{ text::emphasize(text="Log in with AzureAD") }}
  button, you will be redirected to the Microsoft login portal.
  Once authenticated, you will be signed in with SSO across all you other 
  SSO enabled applications.
</p>

<p>
  The image below from SAML tracer confirms that the details send back in the 
  SAML response are the same details we have configured throughout this post.
</p>

{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/saml-response-1.png", 
  width="600px"
) }}
<p>
  The privilege assignments can also be confirmed by looking in the audit log.
</p>

{{ text::breadcrumbs(items=[
  "Admin",
  "Audit Log",
]) }}

{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/saml-login-log-1.png", 
  width="600px"
) }}

<p>
  Finally, confirm that the user is created in the local users configuration.
</p>

{{ text::breadcrumbs(items=[
  "Admin",
  "Users",
]) }}

{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/eh-saml-user.png", 
  width="600px"
) }}

<h3>Troubleshooting</h3>
<p>
  A couple of common issues I have run into and their resolution 
  is below.
</p>

<h4>Required Claims Not Presented</h4>
<p>
  This error occurs when ALL the required claims are not 
  present in the SAML response.
</p>
{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/saml-error-1.png", 
  width="600px"
) }}
<h4>Resolution</h4>
<p>
  Ensure ALL the required claims are configured in the IdP.
</p>

<h4>Unsigned SAML Response</h4>
<p>
  ExtraHop requires the SAML reponses to be signed. If they are 
  not, you will see the following error.
</p>
{{ image::boxed(
  path="blog/extrahop-saml-authentication-with-azure-ad/saml-error-2.png", 
  width="600px"
) }}
<h4>Resolution</h4>
<p>
  Ensure the IdP is configured to sign SAML responses.
</p>

<h3>Outro</h3>
<p>
  In this post, I showed you how to configure your ExtraHop appliances 
  to use SAML authentication with Azure AD as an IdP. Please enjoy your 
  SSO experience now with 100% more ExtraHop.
</p>

{% endblock page_content %} 

{% block page_toc %}
{% endblock page_toc %}