<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
<channel>
  <atom:link href="https://codingpackets.com/blog/feed.xml" rel="self" type="application/rss+xml"/>
  <title>Coding Packets Blog</title>
  <link>https://codingpackets.com/blog/</link>
  <description>Network | Code | Stuff | Things</description>
  <copyright>Copyright Bradley Searle {{ archive.yearsArray[0] }} All Rights Reserved</copyright>
  <language>en-US</language>
  <ttl>60</ttl>
  {% for year in archive.yearsArray %}
  {%   for pageData in archive.years[year] %}
  {%     if pageData.published === true %}
  <item>
    <title>{{ pageData.title }}</title>
    <link>https://codingpackets.com{{ links.blogPath.uri }}/{{ pageData.title | slugify }}</link>
    <guid isPermaLink="false">https://codingpackets.com{{ links.blogPath.uri }}/{{ pageData.title | slugify }}-{{ pageData.updated_date if pageData.updated_date else pageData.published_date}}</guid>
    <description>{{ pageData.description }}</description>
    <content:encoded><![CDATA[<p>{{ pageData.content | truncate(300) }}<a href="https://codingpackets.com{{ links.blogPath.uri }}/{{ pageData.title | slugify }}"><i>continue reading</i></a></p>]]></content:encoded>
    <pubDate>{{ pageData.published_date | rfc822Date }}</pubDate>
    <category>{{ pageData.category }}</category>
  </item>
  {%     endif %}
  {%   endfor %}
  {% endfor %}
  </channel>
</rss> 