{% extends "layouts/blog.jinja" %}
{% block page_content %}
  <div class="">
    {% include "includes/lorem-ipsum.jinja" %}
  </div>

  {{ code_block(
  header="rust", 
  language="rust", 
  code='fn main() {
    // Print text to the console
    println!("Hello World!");
}') }}

{% endblock page_content %}
