<div id="back-to-top"
     class="hidden fixed bottom-20 right-16 rounded-full font-semibold text-zinc-900 bg-neutral-400 hover:bg-neutral-100">
  <button type="button" class="">
    <i class="fas fa-arrow-circle-up fa-3x"></i>
  </button>
</div>