<div>
  <p class="text-gray-400 text-base italic">
    published: {{ post.published_date }}
  </p>
  {% if post.updated_date %}
    <p class="text-gray-400 text-base italic">
      updated: {{ post.updated_date }}
    </p>
  {% endif %}          
</div>