<div>
  {% if post.updated_date %}
    <p class="text-gray-400 text-lg italic">
      updated: {{ post.updated_date }}
    </p>
  {% endif %}
  <p class="text-gray-400 text-lg italic">
    published: {{ post.published_date }}
  </p>
</div>