<!-- DATES START -->
<div id="dates">
  {% if post.updated_date %}
    <p class="text-neutral-400 dark:text-neutral-600 text-lg italic pb-0">
      updated: {{ post.updated_date }}
    </p>
  {% endif %}
  <p class="text-neutral-400 dark:text-neutral-600 text-lg italic pb-0">
    published: {{ post.published_date }}
  </p>
</div>
<!-- DATES START -->