<footer class="fixed inset-x-0 bottom-0">
  <nav class="w-full py-3 bg-zinc-900 text-zinc-200 shadow-lg">
    <div class="flex justify-center py-1">
      <div>
        <a class="text-white font-semibold opacity-60 hover:opacity-100 focus:opacity-100 p-0" href="/">Me</a>
      </div>
      <div class="px-4">
        <p class="text-white font-semibold opacity-60 p-0">|</p>
      </div>
      <div>
        <a class="text-white font-semibold opacity-60 hover:opacity-100 focus:opacity-100 p-0" href="/blog/">Blog</a>
      </div>
      <div class="px-4">
        <p class="text-white font-semibold opacity-60 p-0">|</p>
      </div>
      <div>
        <a class="text-white font-semibold opacity-60 hover:opacity-100 focus:opacity-100 p-0" href="/blog/recent/">Recent</a>
      </div>
    </div>
  </nav>
</footer>