<footer class="fixed inset-x-0 bottom-0">
  <nav class="w-full py-3 bg-zinc-900 shadow-lg">
    <div class="flex justify-center py-1">
      <div class="text-center ">
        <a class="px-2 text-white font-semibold opacity-60 hover:opacity-90" href="https://twitter.com/codingpackets" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        <a class="px-2 text-white font-semibold opacity-60 hover:opacity-90" href="https://www.twitch.tv/codingpackets" target="_blank"><i class="fab fa-twitch fa-2x"></i></a>
        <a class="px-2 text-white font-semibold opacity-60 hover:opacity-90" href="https://github.com/bwks" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        <a class="px-2 text-white font-semibold opacity-60 hover:opacity-90" href="/blog/feed.xml" target="_blank"><i class="fa fa-rss fa-2x"></i></a>
      </div>
    </div>
  </nav>
</footer>