<nav class="w-full py-3 bg-zinc-900 text-zinc-200 shadow-lg fixed inset-x-0 top-0">
  <div class="flex justify-center items-center py-1">
    <div>
      <a class="text-white font-semibold opacity-60 hover:opacity-100 focus:opacity-100 p-0" href="/">Me</a>
    </div>
    <div class="px-4">
      <p class="text-white font-semibold opacity-60 p-0">|</p>
    </div>
    <div>
      <a class="text-white font-semibold opacity-60 hover:opacity-100 focus:opacity-100 p-0" href="/blog/">Blog</a>
    </div>
    <div class="px-4">
      <p class="text-white font-semibold opacity-60 p-0">|</p>
    </div>
    <div>
      <a class="text-white font-semibold opacity-60 hover:opacity-100 focus:opacity-100 p-0" href="/blog/recent/">Recent</a>
    </div>
    <div class="px-4">
      <p class="text-white font-semibold opacity-60 p-0">|</p>
    </div>
    <div>
      <img class="opacity-100 hover:opacity-60 p-0 w-7" src="/img/light-bulb-64-light.png" alt="on/off">
    </div>
  </div>  
</nav>