<nav class="w-full py-3 bg-zinc-900 text-xl shadow-lg fixed inset-x-0 top-0">
  <div class="flex justify-center items-center py-1">
    <div>
      <a class="text-neutral-400 hover:text-neutral-100 p-0" href="/">Me</a>
    </div>
    <div class="px-4">
      <p class="text-neutral-400 p-0">|</p>
    </div>
    <div>
      <a class="text-neutral-400 hover:text-neutral-100" href="/blog/">Blog</a>
    </div>
    <div class="px-4">
      <p class="text-neutral-400 p-0">|</p>
    </div>
    <div>
      <a class="text-neutral-400 hover:text-neutral-100" href="/blog/recent/">Recent</a>
    </div>
    <div class="px-4">
      <p class="text-neutral-400 p-0">|</p>
    </div>
    <div class="-mt-6 -ml-1">
      <labeL class="relative inline-block">
        <input type="checkbox" id="light-switch" class="opacity-0 w-0 h-0">
        <img id="light-bulb" class="opacity-90 hover:opacity-60 dark:opacity-60 dark:hover:opacity-100 p-0 w-7" src="/img/light-bulb-64-light.png" alt="on/off">
      </labeL>
    </div>
  </div>  
</nav>