<nav class="w-full py-3 bg-zinc-900 text-xl shadow-lg fixed inset-x-0 top-0">
  <div class="flex justify-center items-center py-1">
    <div>
      <a class="text-neutral-400 hover:text-neutral-100 p-0" href="/">Me</a>
    </div>
    <div class="px-4">
      <p class="text-neutral-400 p-0">|</p>
    </div>
    <div>
      <a class="text-neutral-400 hover:text-neutral-100" href="/blog/">Blog</a>
    </div>
    <div class="px-4">
      <p class="text-neutral-400 p-0">|</p>
    </div>
    <div>
      <a class="text-neutral-400 hover:text-neutral-100" href="/blog/recent/">Recent</a>
    </div>
    <div class="px-4">
      <p class="text-neutral-400 p-0">|</p>
    </div>
    <div class="-mb-4">
      <label class="relative inline-block w-7 h-3.5 rounded-full">
        <input id="light-switch" type="checkbox" class="peer opacity-0 w-0 h-0">
        <span class="absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-neutral-400 rounded-full duration-300 before:content-[''] before:absolute before:w-3.5 before:h-3.5 before:bottom-0 before:left-0 before:rounded-full
            before:bg-neutral-100 before:duration-300 peer-checked:before:translate-x-3.5 peer-checked:bg-amber-500"></span>
      </label>
    </div>
  </div>  
</nav>